[2021-05-06 05:02] mswiderski commented on #367
last final comment from my end - hardcoding in the workflow definition any information that are environment specific has always been considered as bad practice. That be urls, usernames, passwords and so on. This makes the workflow definition (regardless of the dsl it's expressed in) not portable between environments and fragile when it comes to potential server/users changes.

In addition, this do

[2021-05-06 09:53] Neuroglia commented on #367
@jorgenj I know about OpenApi spec defining the possible use of multiple servers, I'm fine with it. I just fail to understand why implicitly considering additional servers as 'back-ups' is a bad idea according to you.

If you mean that using a round-robin approach to servers that might not have been declared for this purpose (but rather to centralize the delcaration different independant servers),

[2021-05-06 09:59] Neuroglia commented on #367
Again, I totally agree with @mswiderski last comment.

Adding support for this feature (which IMHO is a hornet nest) will just complexify the spec and step over responsabilities of third party specs.

I really hope we never do such a thing. At best, we should use the AsyncApi spec to do that. It's again not the responsibility of SW to define this and possibly conflict with others.

In addition, as

[2021-05-06 15:07] kevinteg commented on #367
Thanks for the replies everyone!  I'll add my final reply too (it sounds like this proposal is rejected so no point carrying further in a separate discussion).

I get the impression that for a lot of people, the runtime owners are in the same group/company as the users and that they may be in a position to support specific user cases by configuring the hosting infrastructure in various ways (confi

[2021-05-06 15:20] #367 closed

[2021-05-06 15:38] kevinteg commented on #368
I'll just add a final reply in case you were interested.

That is why I ask.  If we reset the workflow back, for the first type of implementation the runtime is complicated by this feature because the state is the same but in one case the workflow doesn't exist and after reset it does exist (not saying its not feasible- just something the runtime implementer wants to know because it influences the

[2021-05-06 15:38] #368 closed

[2021-05-06 15:50] kevinteg opened #369 "Clarification on "interrupt""
**What is the question**:

Likely a very quick one:
`The interrupt property defines if the currently running instance should be allowed to finish its current execution flow before it needs to be terminated. If set to true, the current instance execution should stop immediately.`

Does current execution flow mean the active state (finish all actions, etc)?

[2021-05-06 16:15] kevinteg opened #370 "Request more details on function parameters for rest type"
**What would you like to be added**:

`If you need to define parameters in your functionRef definition, you can define it with its object type which has the following properties:`

I believe the best way to provide arguments for a rest function is all at the same level regardless of whether they are path params, body, etc.  The runtime knows how to associate these parameters to the appropriate req

[2021-05-06 18:24] Neuroglia commented on #369
@kevinteg To my understanding, yes, but I wasn't there when this was defined. WDYT @tsurdilo ?

[2021-05-06 19:19] tsurdilo commented on #370
Is that currently not possible?
This is valid:

[code]

Regarding

Are you asking to add this to the spec? Sorry I am just trying to figure out what the request is.

If so then why "fail the workflow" and what does that even mean?
First of all, from just looking at the openapi spec and the workflow definition, a validator or an editor can see that missing required params are missing, this error ca

[2021-05-06 19:22] tsurdilo commented on #370
@kevinteg with workflows the general best practice is to never "fail" them. but to write them with error recovery in mind.

[2021-05-06 19:44] tsurdilo commented on #369
meaning that its current execution flow / path should be able to finish (reach an end definition). maybe we should use "path" instead to be clear.

[2021-05-06 21:26] kevinteg commented on #370
Sorry I meant "workflow creation will fail".  I agree we will catch a lot in the SDKs, UIs, etc but a runtime implementation should definitely validate that it is getting all the required parameters as well, in my opinion.

[2021-05-06 21:28] kevinteg commented on #370
As far as the spec is concerned, I think we should say how the arguments are expected to be listed (for portability reasons).

[2021-05-06 21:44] kevinteg commented on #369
OK glad I asked.  Yes I think it would be helpful to add some wording there about what it means (and maybe an example use case).

Thanks!

[2021-05-09 20:52] tsurdilo commented on #370
Sorry I am still confused as to what this request is about. The DSL provides means to add arguments to function reference, and those are documented to be input arguments to the function you want to invoke.

I don't think we should add to spec that if user does not define all needed parameters the invocation should fail as that can in some cases / programming languages / the way function is written

[2021-05-10 15:46] manuelstein commented on #288
closed as discussed in community meeting 12 Apr 21

[2021-05-10 15:46] #288 closed

[2021-05-10 17:51] kevinteg commented on #370
I'm suggesting that the spec should specify how arguments should be handled by the runtime for OpenAPI calls (perhaps others where it makes sense).

The examples I gave show how there is currently a lot of room for interpretation.  Specifying how arguments are interpreted for OpenAPI calls will help portability (otherwise a workflow on runtime that groups by parameter location like url, body, head

[2021-05-10 18:25] #329 closed

[2021-05-10 19:08] jorgenj commented on #285
Shoot, yah, this is a bad example.  My intent is to show an example with the ambiguous examples side-by-side but this was the wrong way to express that.   Reworking the example.

[2021-05-10 19:32] jorgenj commented on #285
@tsurdilo I updated the example to something that's hopefully more correct syntax.

[2021-05-10 20:15] Neuroglia commented on #285
@jorgenj it's indeed the logical output that'd be produced with something equivalent in, say, js.

In jq, though, it would result in an error, because as discussed today, jq only supports explicit strings in such cases. Even concatenating a number fails without explicit cast. There probably are methods to do so, I guess: I'm no jq expert.

I agree however that this is confusing and might lead to u

[2021-05-10 20:27] jorgenj commented on #285
Thanks for your input Charles.  I think I agree about the notion of potentially removing interpolation for now, I think there's some edge-cases that aren't clearly defined that will be confusing and like you hinted, it seems like a pretty complex feature for runtimes to implement.

[2021-05-10 20:29] tsurdilo commented on #285
@jorgenj @Neuroglia the results are what the expression returns, no magic.

I would just use jq so there are no issues:

"interpolating ${.b | tostring} and {.a | tostring} and {.c | tostring}

[2021-05-10 20:40] tsurdilo commented on #285
so in your example:

f1 is
{
  "sub1": "foo"
}

f2 is:
[
  "bar",
  "baz"
]

and

f3:

"interpolating {\"sub1\":\"foo\"}, [\"bar\",\"baz\"] and aString"

[2021-05-10 20:43] tsurdilo commented on #285
I think your expression returns a JSON value so its result would be JSON, so your parameter would have the JSON type

when you mix text and expressions its string concatenation so results of expressions should be string type ( | tostring)

hope this helps

[2021-05-10 20:47] tsurdilo commented on #285
im pretty sure you can use regex to see if on runtime end you have text mixed in with expressions (${ .... }) and then
just concatenate the static text with results of expressions.
maybe there is some problem i am not seeing

[2021-05-10 22:30] tsurdilo commented on #285
we have to add expressions in string type properties i dont think there is another way.
these types of user errors i think can be caught during testing
i think for your first case (with leading space it would cause the return to be string type and could cause error if expression result is not. but users dont have do "force" they can just pipe it throgh jq tostring if they wish

i would suggest for

[2021-05-10 22:32] tsurdilo commented on #285
i honestly think that our DSL is by far superior to like other DSLs in this regard , and if you look at like bpmn its much much worse where you non technical users would have to write programming language code and all kinds of stuff can go wrong there. i think thats a problem in general with DSL that you kinda have to use an expression language. thats why we want to move to true DSL to get to a po

[2021-05-10 23:21] jorgenj commented on #285
@tsurdilo

Thanks for the context, I agree that the DSL here is pretty neat, I'm just trying to clear up some confusion, please bear with me for a second.

It seems like we generally have a common understanding of how interpolation should work so I'd like to then turn the question to the following example:

[code]

Let's assume the function call there is returning the following payload:
[code]

Wh

[2021-05-11 03:31] tsurdilo commented on #285
@jorgenj

since .a already exists and has a value of type string, you can see "toStateData" as jq:
".a += <results of function invocation>"

so in this case the state data should  be:

{
  "a": ".bHello World",
  "b": "foo"
}

if the results of the function invocation is not a string, jq should raise you error (string and object cannot be added or something similar iirc)

[2021-05-11 11:14] tsurdilo commented on #285
sorry if i dont seem to see the issue . lets ping others to give opinions
as it seems im not much help here

On Tue, May 11, 2021 at 1:51 AM Jorgen Johnson ***@***.***>
wrote:

[2021-05-11 22:21] jorgenj commented on #285
If you were to put the same expression string in stateDataFilter.output it would produce the string ".b" in my example but in this context it somehow instead tells the runtime to put the results at ".a"?

[2021-05-12 16:27] jorgenj commented on #285
This is back to your original response, the point I'm trying to make is that some of these fields are clearly not being treated as a jq expression to be evaluated against some data, for example with actionDataFilter.toStateData it's not evaluating an expression to produce data but rather it's just giving a location where some other data should be merged.

In this case, by "all of the examples" I m

[2021-05-12 17:01] cdavernas commented on #285
@jorgenj As far as I know, toStateData is a jq expression, too, and not simply a path. You actually can execute complex jq expressions at that point, as illustrated by @tsurdilo on #327

[2021-05-12 18:44] tsurdilo commented on #285
@cdavernas @jorgenj

It has to be an expression...thats the only way its possible to do anything productive with it. having just path is imo useful for custom, simple scenarios only.

a simples example i can come up with is lets say we have a switch state
and depending on data we either call operation state A which calls function X or operation state B which calls function Y, both being 3rd party

[2021-05-13 15:15] jorgenj commented on #285
Actually it doesn't, this scenario you've cooked up could just as easily be implemented with actionDataFilters for each function that change each function output to have a common format.

[2021-05-13 15:54] cdavernas commented on #285
@jorgenj yeah sure you can achieve @tsurdilo's example with action filter, but it's not always the case, as I realized modeling some workflows for a client recently. Furthermore, the fact you can use action filters, too, doesn't change the fact that the toStateData property SHOULD be an expression. Or am I missing something?

[2021-05-13 18:25] tsurdilo commented on #285
Ok if the previous example does not make a good point in your opinion, let's try again:

State data:

[code]
and we want to add function results to element where version starts with 4.1

[code]

with path you would have to select one and there is no way to do the matching based on child element values, or do regex, etc..big limitation again.

[2021-05-13 18:36] tsurdilo commented on #285
And to be honest I think "toStateData" should not only be an expression, but it should be expanded to allow you to enter the results of functions / event payloads into **multiple** places in the state data if needed, not only 1

for example again let's say we have state data:

[code]

and want to add function results to all elements where version is 4.1*

[code]

with jq this returns 2 elements, a

[2021-05-13 20:39] antmendoza commented on #358
I can try to do a small POC, might need help for sure, since I am not familiar with any of them ASL/ Conductor DSL.

[2021-05-13 20:57] lynxnathan commented on #370
👍

AFAIK for OpenAPIv3 the same argument can appear in `requestBody` and `parameters` (which is further divided into path, query, header, and cookies). That makes a flat object on `arguments` unsuitable lest each runtime define the schema for arguments, at which point the spec may as well be protocol-agnostic.

That said, it doesn't hold for the other protocols currently supported, so perhaps `arg

[2021-05-13 22:25] jorgenj commented on #285
Please show an example of a JQ command-line that actually accomplishes what you're proposing in the above example, specifically it needs to take the exact expression above and somehow use the results of that to modify the original state data, right?  I'm obviously not an expert in JQ but as far as I can tell this isn't possible without forcing runtimes to basically re-implement a JQ parser so they

[2021-05-14 01:10] tsurdilo commented on #285
@jorgenj sure i'll add more descriptions and examples.

in end these are all expressions. they have input and produce a result.

If your concern about all this this is about some possible "complexity" of implementing toStateData, take a look at the
jq "path" function...i  think it might help you out.

There are many ways of implementing toStateData, one of the ways is
to take the expression provid

[2021-05-14 02:09] tsurdilo commented on #370
@kevinteg @lynxnathan

what do you guys think of this idea:

currently "arguments" is an object type..which is fine imo. my recommendation is to change it to
be either "string" or "object" type, what we do in a lot of places already.

so if "arguments" is a string type , it has to be an expression which would allow you to create any type of argument structure you want, and given that function defi

[2021-05-14 14:48] lynxnathan commented on #370
Just my two cents: it could probably work like this, but by putting a string there we truly lose validation (from JSON-Schema side at least) and we make all would-be tooling, including runtime, responsible for the interpretation of those strings and thus implementation specific (aka: unspecified behavior).

The only issue I can see is that of versioning of a specific protocol as it stands since we

[2021-05-14 15:07] tsurdilo commented on #370
I am open to suggestions on this, with some things to think about.

We have to look at what can we do in the DSL to provide what's asked for without creating a maintenance nightmare for us as well.

Another idea that comes to mind is look at the top-level workflow "dataInputSchema" property. This seems as a nice approach to where you can point to a schema and in this case we could add a similar pr

[2021-05-17 05:46] jorgenj commented on #285
to take the expression provided and on your end change it to:

By your own description, the nature of the "data" returned by the expressions in actionDataFilter.result vs. actionDataFilter.toStateData are fundamentally different.   One returns data extracted from the results, and the other returns some "path" data.   These seem like fundamentally different concepts, and imho if should be treated a

[2021-05-17 05:50] jorgenj commented on #285
I'm going to update the title & description of this issue to better fit what I'm trying to say, when I originally wrote this I was thinking about this only as it applies to 'path'-like fields, but it's a more general concern about string-interpolation vs. expressions.

[2021-05-17 12:21] JBBianchi opened #383 "Schema: add 'functionref' type"
**What would you like to be added**:
I think a functionref definition should be added to the [workflow schema](https://github.com/serverlessworkflow/specification/blob/main/schema/workflow.json)'s definitions. At the moment, the action [functionRef ](https://github.com/serverlessworkflow/specification/blob/main/schema/workflow.json#L345) property is described inside the property definition instead

[2021-05-17 13:39] tsurdilo commented on #383
good catch. yeah we should move it to definitions.
anyone up for doing this?

[2021-05-17 13:41] tsurdilo commented on #318
@cdavernas does https://github.com/serverlessworkflow/specification/pull/382 help with this a little? what else should be added?

[2021-05-17 14:01] tsurdilo commented on #383
https://github.com/serverlessworkflow/specification/pull/384

[2021-05-17 14:43] ricardozanini commented on #318
Hi @kevinteg, can you elaborate? Please see #382. We are adding an external configuration option to the DSL so that expressions can refer to them. I don't think we are leaking info about the runtime this way, but I can be missing something.

[2021-05-17 15:55] jorgenj commented on #285
The place where I see some form of annotation being necessary to indicate an expression is in places where the user is providing their own arbitrary data like arguments to a function invocation.

[code]

Again, this is needlessly confusing because the `${}` is used for all of these, so it's difficult to tell where interpolation is intended or not.

I suggest that we reserve `${}` to denote interpo

[2021-05-17 16:19] #284 closed

[2021-05-17 16:22] manuelstein commented on #285
Thank you all for the great discussion and the many examples and inputs so far. I think you're both onto something here.
@tsurdilo your example with assigning the results in many different places got me thinking maybe we need to rethink the toStateData and allow it to be an expression that gets both the result and the state data as input documents (as I believe also touched in #286).
@jorgenj I ag

[2021-05-17 16:31] jorgenj commented on #285
100% agree that we should be aiming for features that work with more expression languages than just JQ.

I'm not sure it's correct to call this recursion, and I don't see this as a thing I would do in a workflow, but this was the easiest way to try and illustrate why this is confusing.

[2021-05-17 16:57] tsurdilo commented on #285
Of course "data" and "toStateData" have a different meaning, they are different properties :)

Data is the data to be merged, toStateData is the path where this data needs to be merged into

Both are not static so thats why we use expressions.

toStateData must return a path..so use the jq path function or whatever another language provides, if it doesnt then create one :)

Both parameters are nee

[2021-05-18 13:21] #383 closed

[2021-05-18 20:53] jorgenj commented on #285
I noticed in a recent PR that the example expression function don't have the `${}`, I wonder why it's not required there but is required everywhere else expressions are defined?

[code]

[2021-05-18 21:00] tsurdilo commented on #285
yeah i mentioned this is yesterdays meet as well.  will update.

On Tue, May 18, 2021 at 4:53 PM Jorgen Johnson ***@***.***>
wrote:

[2021-05-19 03:41] jorgenj commented on #285
Will there be a PR for that?  I'm very much looking forward to what the update will be.

[2021-06-01 10:25] manuelstein commented on #285
Hi, I've setup a doodle to plan steps together on our zoom channel. I figured the best way to reach interested parties is through this issue. Please indicate your availability here: https://doodle.com/poll/845yen5tgqzatr8c

[2021-06-01 14:09] cdavernas opened #394 "404 when trying to parse 'workflow.json' schema: 'secrets.json' not found"
**What happened**:

A 404 is returned when trying to access the following url, when parsing the SW schema:

`https://serverlessworkflow.io/schemas/0.7/secrets.json`

**What you expected to happen**:

Everything to work as expected

**How to reproduce it**:

Try validating a workflow with any of the SDKs that support schema-based validation (TypeScript, .NET, ...)

**How to fix it**:

Add the `secr

[2021-06-01 14:27] tsurdilo commented on #394
good catch on the id! will fix asap. we merged the pr yesterday and just
havent had the chance to update website. will link the website commit when
it done

On Tue, Jun 1, 2021 at 10:09 AM cdavernas ***@***.***> wrote:

[2021-06-01 14:51] cdavernas commented on #394
Thanks @JBBianchi for the `id`, he's the one that spotted it.

[2021-06-01 17:53] manuelstein commented on #285
Thanks all for your replies. I think the best option is tomorrow, Wed June 2nd, 20-21 CEST / 11-12 PDT / 2-3pm EDT.
Let's meet on our Zoom channel https://zoom.us/my/cncfserverlesswg

[2021-06-01 21:24] tsurdilo commented on #394
https://github.com/serverlessworkflow/serverlessworkflow.github.io/commit/ce16f8bfe36b83b108078041c3d341c66f5db272

[2021-06-01 21:25] tsurdilo commented on #394
@cdavernas this can be closed now i think

[2021-06-01 21:43] cdavernas commented on #394
@tsurdilo it can! Many thanks!

[2021-06-01 21:43] #394 closed

[2021-06-02 22:46] gibson042 commented on #285
An example demonstrating what must be possible (differentiating interpolation within a string vs. replacement of an entire value with the arbitrarily-typed result of evaluating an expression):
[code]

Also, note that escape syntax MUST be reserved for all sequences that could indicate dynamic content within a string. Above, I've used backslash (```\```) as the escape character and `$` as the start

[2021-06-02 22:48] tsurdilo commented on #285
@manuelstein thanks for setting up the meet today.
Here is the screenshot that kinda describes all stuff that was brought up:

<img width="669" alt="Screen Shot 2021-06-02 at 3 38 09 PM" src="https://user-images.githubusercontent.com/119422/120558511-975b7f00-c3cd-11eb-9df1-3a7802c37f5b.png">

From what I got out of it, it is requested to either
1) get rid of interpolation
2) find a way for users

[2021-06-02 23:26] tsurdilo commented on #285
@gibson042 thanks for that information!!

i was wondering if what you described is based on some existing specification or an api that currently exists that we can use as leverage for our docs or to show impl stability?
are there any other applications that might not even be in workflow space that are using this type of approach. it would really help having something thats out there to draw ideas

[2021-06-02 23:47] tsurdilo commented on #285
jsut to add to ^^ if a lib does not exist, could we create one in like in any of the languages we have an SDK for an make it part of our specification?

[2021-06-03 13:10] tsurdilo opened #397 "Add Workflow Queries"
**What would you like to be added**:
Workflow queries allow users to query state data during / after workflow execution.
Workflow writers can define queries inside their workflow definition or in a separate json/yaml file.
Workflow queries are defined via expressions.
Workflow queries are read only, they should not in any way alter or influence workflow execution
Workflow queries should have a dom

[2021-06-04 00:49] yzhao244 opened #398 "Clarification on supporting multiple actions and actionMode in Operation State"
I have this issue opened and would like to discuss the spec regarding the clarification on supporting multiple actions and actionMode in Operation state.

If my understanding is correct, in the specifications, the Operation State can contain multiple actions, and each action contains one function or one subflow. However, this approach cannot flexibly specify onErrors definition such as a retry pol

[2021-06-04 00:56] yzhao244 commented on #398
@tsurdilo I opened a new issue here. Sorry about the other one. :)

[2021-06-04 07:29] cdavernas commented on #398
@yzhao244 In my personal experience with an operational, proprietary SW runtime for a client, the possibility to use many successive operation vs multiple states is for organizational sake. As a matter of fact, using a single state per action can become quickly tedious, difficult to maintain, and might not correspond to the workflow's audience understanding of the flow.

An example is that for tha

[2021-06-06 03:46] tsurdilo commented on #398
@yzhao244

to add to @cdavernas answer,

this is indeed a workflow definition design choice based on your requirements (whether to have a single function invocation in your actions or multiple).

A State (or Task in ASL as you mentioned) for us represents a unit of work.
An action definition can be part of this unit of work, but in some cases you can have multiple actions represent a single one.
E

[2021-06-06 17:36] gibson042 commented on #287
This issue is actually not stale, there just hasn't been any movement to address it.

[2021-06-06 17:38] gibson042 commented on #285
Well, JSON Schema (adopted almost completely by OpenAPI) [uses a `$` prefix for special properties](https://json-schema.org/draft/2020-12/json-schema-core.html#rfc.section.8), and in particular an object with a `$ref` property is replaced with whatever results from dereferencing the possibly-relative URI with [extended] [JSON Pointer fragment expression](https://json-schema.org/draft/2020-12/json-

[2021-06-06 21:26] tsurdilo commented on #362
AWS also added a similar construct..just fyi - https://docs.aws.amazon.com/step-functions/latest/dg/tutorial-continue-new.html

[2021-06-06 21:43] tsurdilo commented on #285
@gibson042 the question was just to see what other DSLs out there use a similar approach. The fact that JsonSchema uses something similar with for example $id or $ref is hard to do in a DSL as you have to do stuff like what you showed:

which is really equivalent  to checking if val starts with "${" and ends with "}" as you would do currently

or enforce only object type properties which is not fe

[2021-06-07 04:34] tsurdilo opened #400 "Fix "Car Vitals" example"
https://github.com/serverlessworkflow/specification/tree/main/examples#car-vitals-checks

This example was updated recently as is currently wrong. The "WaitTwoMinutes" states assumes that its "timeout" setting will just transition after the timeout but timeouts raise errors which need to be handled with onErrors definition in the state...we need to fix this example.

[2021-06-07 17:05] gibson042 commented on #285
That fails to satisfy the requirement of differentiating interpolation within a string vs. replacement of an entire value with the arbitrarily-typed result of evaluating an expression.

[2021-06-07 18:28] manuelstein commented on #285
@tsurdilo, I find that jq expression there actually a good reason to not allow any interpolation in the workflow language. It seems interpolation is easy enough in JQ with such an expression:
[code]
which only requires to be prefixed in order to have it processed by JQ, e.g.:
[code]

So we would not need to allow users to write:
[code]
which creates the risk to misinterpret
[code]
to be either
- i

[2021-06-07 18:38] tsurdilo commented on #285
Having these two ways is really really ugly and confusing to me, especially when there is no overhead to just use a single way of doing expressions :(

Regarding

From the two rules mentioned above i think it does not. If there is a mix of text/spaces and expressions the return type is a string. The expression language should raise an issue here if string interpolation on that fails.

[2021-06-07 19:02] gibson042 commented on #285
It fails the requirement because it does not provide any inherent way to produce a string that is the result of evaluating an expression with no prefix or suffix, e.g. `definitelyString: "${ .state.number }"` would become `definitelyString: 42` rather than the desired `definitelyString: "42"`. And it's also _extremely_ counterintuitive to have the data type of a result change because of the presen

[2021-06-07 19:11] tsurdilo commented on #285
what requirement :)
"numparam": "$expr .aNumber" fails this too (.aNumber) can return an array/string/... ..but requires this super ugly way of writing it

Why? its the same thing as having a method that returns String and another which returns type Object

[2021-06-07 19:24] tsurdilo commented on #285
i think possibly it would be good to be able to provide schema definition for state data..that way we could enforce property types. not easy to do but can take a look

[2021-06-07 19:49] manuelstein commented on #285
Unfortunately there's no type casting in JSON. It sounds okay, no? Anything that looks like "abcd$( )abcd" will be a string but "$( )" will be whatever is returned by the expression. Simple. But if I can reproduce this correctly, I think you can't distinguish these two:
- "&#8203;$()"
- "$()"

but the first one is `"&#8203;$()"` and the second is simply `"$()"`. So, IIUC that's a problem when your

[2021-06-07 20:31] gibson042 commented on #285
No, the `$expr …` syntax would be an explicit means of opting in to type replacement that _isn't_ functionality of `"${ .aNumber }"`.

You're still missing the point. Your proposal does not provide any inherent way to produce a string that is the result of evaluating an expression with no prefix or suffix, and would therefore be a problem even if everyone liked the syntax.

It's not the same becau

[2021-06-07 21:34] tsurdilo commented on #285
I don't see how it's just a way of expressing it
     "$exp ....."
      "${ ....}"
      "@@.....@@@"

whats the point? Only one is that our syntax uses the ${  expression  } expression holder syntax that is widely adopted and "$exp  expression" is from i can tell something you came up with.

[2021-06-07 21:35] tsurdilo commented on #285
yeah and thats why we have to apply the rule number 2 from above. its the same type of rule that you would apply for "$expr ...." syntax.

[2021-06-07 21:53] gibson042 commented on #285
The same syntax cannot be used for both type replacement and string interpolation—something like `"${ .aNumber }"` can only do one _or_ the other. Assuming it does the latter because that is the case for similar-looking `"prefix:${ .aNumber }:suffix"`, a **distinct** syntax is necessary for type replacement—and I presented two general approaches above, "object with privileged property" (e.g., `{ "

[2021-06-08 03:42] #369 closed

[2021-06-08 15:36] tsurdilo commented on #285
@gibson042 @manuelstein @cdavernas
Been thinking about this for a while and I think the outcome is that using expressions inside DSL is "evil" and that we should actually move towards offloading expressions to the runtimes as much as possible.

So what I would propose is these simple rules:

1) If a value of property contains any text, spaces idk what..its considered a string and is NOT considered

[2021-06-08 16:39] janaganh commented on #397
hi @tsurdilo,
These questions I have regarding workflow queries. I am still learning the spec, it might not relevant.

regarding state data available for querying, will it be state data from the last executed workflow state or will it be possible target the specific workflow state for querying even though it has completed execution and currently another different workflow state is executing. If it

[2021-06-08 17:00] jorgenj commented on #285
Are you suggesting that stateDataFilter/actionDataFilter/eventDataFilter no longer support expressions as well?  Just trying to understand if this applies to any field anywhere in the spec where currently expressions are allowed, or only certain places?

Doesn't this just move the problem?  It doesn't seem like it actually solves the problem, unless you're explicitly saying that interpolation is b

[2021-06-08 17:12] tsurdilo commented on #285
No, no parameters in spec would change. filters work as currently. Runtimes just have the choice again to use expressions or use programming language. So benefit there too.

Yes it is removed with this approach from the DSL. Runtimes can interpolate all they want tho..up to you.

[2021-06-08 19:45] tsurdilo opened #401 "Add batching and sync option to ForEach state"
**What would you like to be added**:
Add batching ability to foreach state
Add ability to specify sequential exec of foreach state iterations
**Why is this needed**:
Currently we dont have batching ability. If data element for foreach has a million elements, we assume runtime would create a million threads to run in parallel. We should have ability to define (dynamic) batch sizes for each parallel

[2021-06-09 11:29] manuelstein commented on #285
Hmm, I would want a workflow to be portable and not have some unknown magic kick in on another runtime, so I don't think leaving it to the runtime is good for portability.

Regarding the question:

I had a similar question in mind. Can I transform the data like this:
[code]
or does it always have to be a function? Why should the content prefixed by `$expr` or wrapped between `${` `}` not be an exp

[2021-06-09 12:21] tsurdilo commented on #285
@manuel

i think that after so many doscussions things get confused which i totally
understand.

the statement about runtimes interpolating was just a "joke" or "
statement" that runtimes in their code can do whatever they want, unrelated
to this and ok confusing but it didnt have anything to do with the subject
so ignore that.

expression type functions cannot be used in actions . they can only b

[2021-06-09 14:19] manuelstein commented on #285
Ok, better to go one step at a time.
I tried to summarize the different proposals that were laid out.
I do understand that you want to do A. remove interpolation.
But I do not understand if you want A.1, A.2 or A.3 ? Is it A.1/2) allow expressions anywhere in the document with some markup or A.3) only allow expression language in the functions and only allow to reference functions in the document.

[2021-06-09 14:47] tsurdilo commented on #285
Ah OK, good question, so what I am saying is let's say you have two expression function definitions:

[code]

string type properties then can either 1) be a string 2) reference an expression function with "special syntax", meaning it can be either "${ Customer Id }" or "$expr: Customer Name" or whatever is chosen (I prefer to keep it as it is now as its widely used syntax).

From runtime perspecti

[2021-06-09 15:11] manuelstein commented on #285
There's an example in the section [workflow expressions](https://github.com/serverlessworkflow/specification/blob/d36bcc5bd84e05c6ad904dd8918f6479653e1fdf/specification.md#workflow-expressions) that modifies the workflow version attribute:

[2021-06-09 15:15] tsurdilo commented on #285
@manuelstein good point but thats setting the values of the workflow definition, my understanding is you said you could arbitrarily add workflow states, the structure of the workflow def cannot be changed.

this uses in-line expressions in string type prop values. so we would change that to:

"version": "${ Get Input Version }" where you would have to define an expression function that deals with

[2021-06-09 15:29] tsurdilo commented on #285
And just to add kinda like last point really...I do not think that what we currently have is really a problem.
Yeah I get it, it is a problem with this "interpolation" but i do also see some big players in this workflow DSL market not addressing it at all.
There are other types of possible solutions too. Since its not possible via JsonSchema to "tag" a property as an "expression type" property we

[2021-06-09 17:08] manuelstein commented on #285
Yes, exactly, having a property type (solution C) would eliminate the syntax.
To use ```"expr-numparam": ".aNumber"``` requires the schema to define xor on `numparam` and `expr-numparam`.
Richard's first suggestion to allow for a special object is just slightly different: ```"numparam": { "$expr": ".aNumber" }```.

Wow, that's really good input. So far, I think we have enough arguments that the si

[2021-06-09 17:18] gibson042 commented on #285
I'll second this, and specifically request an example of such a big player in which a value is a string in configuration but not necessarily a string at runtime, and a description of how that works. With respect to this issue, I suspect they are "not addressing it at all" because they don't _have_ it—it doesn't exist if strings remain strings or are only used in contexts where the required data ty

[2021-06-09 17:51] tsurdilo commented on #285
I don't know what you guys want from me really :) just look at ASL expressions syntax, for example

           "TimestampPath": "$.expirydate",

This is really not how you request changes to any project. You address the issue **with** examples of whats broken **and** a PR on how to fix it in your opinion and **then** people can look at address concrete examples.
This has been so damn backwards and

[2021-06-09 23:07] gibson042 commented on #285
`"$.expirydate"` looks to me like it will still be a string after expansion, are you saying that is not the case?

I'm not even clear on what the current behavior is, https://github.com/serverlessworkflow/specification/blob/d36bcc5bd84e05c6ad904dd8918f6479653e1fdf/specification.md contains many examples that use `"${ … }"` strings but I don't see any having a prefix or a suffix outside the `${…}`

[2021-06-10 07:22] manuelstein commented on #362
Thx, I noticed that AWS didn't add any construct to the [ASL](https://states-language.net/), but instead, they're using a Lambda function that calls their workflow API to start a new execution.
Btw, there's an Azure solution in durable functions orchestration to [drop the context](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-eternal-orchestrations?tabs=csharp) a

[2021-06-10 14:30] tsurdilo commented on #285
Thanks all for your updates and great conversations!!!
As it is clear that this needs more time, given our project priorities for things we want to do and the amount of time we have already spent on this issue, we suggest that you do a PR and we can look at it when time allows.

Many thanks for the great and very insightful information that you have provided. It will definitely improve our project

[2021-06-10 14:30] #285 closed

[2021-06-10 21:33] gibson042 commented on #285
How do you expect the project to improve by closing issues that are still unresolved?

[2021-06-15 13:09] JBBianchi opened #407 "External schema are not valid on their own."
**What would you like to be added**:
"Strictly" valid JSON Schema for externally referenced schemas without "custom" properties?

**Why is this needed**:
The [schemas](https://github.com/serverlessworkflow/specification/tree/main/schema) are divided in multiple files, there is the main entry point [workflow.json](https://github.com/serverlessworkflow/specification/blob/main/schema/workflow.json) a

[2021-06-16 18:25] tsurdilo commented on #407
The workflow definition can include a number of reusable pieces, namely function, events, retries, secrets, and soon auth definitions. Those can be reused across multiple workflow definitions.
We apply reusability of control flow logic via SubFlows and thus do not have a specific schema for the states.
The only "outlier" is the metadata definition which we externalized because it is used in so man

[2021-06-16 18:29] tsurdilo commented on #407
Thats not the point of the secrets schema. It is to provide the ability for users/tools to validate an external secrets def as well as the one defined inside the workflow definition.
That way if user says he wants to use "mysecrets.json" in the workflow def runtimes can validate it on its own and report errors if that validation fails before user should deploy the workflow def

[2021-06-17 08:48] JBBianchi commented on #407
Ok, I think I understand, thanks.

[2021-06-17 08:48] #407 closed

[2021-06-17 19:59] tsurdilo opened #410 "Provide to set rate limiting on number of actions that are allowed to be invoked at a time (per state or global per workflow prop)"
**What would you like to be added**:
Currently our DSL does not help with flooding 3rd party services. This means we have 0 protection down stream services from workflows hitting them millions of times within a short period of time.

We need to add rate limiting on function invocations.

[2021-06-19 17:19] #352 closed

[2021-06-21 16:57] yzhao244 opened #413 "Backward Compatibility: Parallel Branch does not support direct use of states definitions"
**What is the question**:

Hi, I have this issue opened and would like to discuss the spec regarding parallel branch does not support direct use of states definitions when comparing spec 0.1.

If my understanding is correct, currently, the parallel state branch supports actions definition which can use subFlowRef to support a more complex flow such as switch and so on.

However,  using subFlowRef

[2021-06-21 17:28] manuelstein commented on #401
Just to understand, the current option to batch is by pre-slicing the array into an array of arrays. E.g. [0,1,2,3,4,5,6,7,8,9] can be batched transforming it to [[0,1,2,3,4],[5,6,7,8,9]] with some expression.
So, this would achieve this without requiring the developer to do the (somewhat complex) expression for slicing?
Sounds okay.

[2021-06-21 17:57] tsurdilo commented on #401
Yeah the idea is if you have 100 elements to say process "10 at a time" or something. Not sure yet what the best way is to express that but expression would be nice yes.

[2021-06-21 17:59] tsurdilo commented on #397
I think the queries should be pre-defined that way the workflow developers can ensure their validity (and there are probably some security issues around passing expressions to be executed to the workflow execution).

Good question, I think since queries should be executed in a thread that is not the main workflow running thread, it should be the current executing workflow state data.

WDYT?

[2021-06-21 23:57] yzhao244 commented on #398
@tsurdilo @cdavernas Thanks for the reply, guys. As discussed in the weekly meeting, our Serverless Workflow spec could be considered as a superset of other ASL in the industry which only supports a single function in a state. Therefore, it is just an end-user's design choice for choosing a single function or multiple functions in a state.

The main reason for me to open the issue is that to me, s

[2021-06-22 00:09] tsurdilo commented on #398
It's not just invocation of functions, features like event handling, error handling, timeouts, callbacks, integration with openapi, grpc, cloudevents, etc etc are all features where Serverless Workflow DSL is already a super-set (feature-wise) of pretty much any DSL-based workflow language.

[2021-06-22 00:17] tsurdilo commented on #413
I can definitely understand your point of view on this.
The changes from v0.1 for this were:
1) We first removed the ability to use states in branches and allowed for either actions or subflow state only.
The reason for this was that you can build very complex nested structures like that, for example you can nest parallel states inside parallel states and define layers of error handling...using Su

[2021-06-22 15:22] tsurdilo commented on #398
@yzhao244  @cdavernas @ricardozanini  et all - to give more info regarding runtime impls and this question I wanted to explain why retries are on the workflow state level and not on individual action level:

Retries should be tied to business logic, meaning that forcing retries on each action individually is not always what you want to do. In the cases where you want to do it, ok, put a single act

[2021-06-22 21:29] cdavernas commented on #398
@tsurdilo Good example, but in some case atomicity is preferable IMHO. Let's take your example: I download the file, process it with, say, ffmpeg. Imagine that file is a 5go ripped DVD that took already forever to download. Let's not even speak of the FFMPEG process... Now, last action fails to upload because S3 is temporarily unavailable. With state level retry, I'll have to replay the 2 first st

[2021-06-23 02:21] tsurdilo commented on #398
@cdavernas

You could as well imagine that the file is downloaded in a temp file, or stored into something like SVN, which, depending on which commands you used, might throw an exception (file already exists), thus making state level retries utterly useless.

Good point, my take on it is "depends on the runtime" :)
When you execute a batch of actions in an actions array your runtime as it executes

[2021-06-24 12:22] ricardozanini commented on #398
Nice idea about grouping the actions. :+1:

[2021-06-28 16:11] yzhao244 commented on #413
The following example is from Amazon step function where end-user can directly define states in branch. It is a very simple parallel state use case which has no nested structures and end-user does not require to get a subflow id when building a simple workflow... However, building the same workflow in current spec, it requires end-user to build subflow first and get an ID. After obtaining a subflo

[2021-06-28 16:17] tsurdilo commented on #413
@yzhao244 thanks for the example!
May I offer a counter-point :)
If you look UpdateMonthlyUsageState and QueueTaxInvoiceState they are just actions, meaning they just invoke a service.
For this example using our DSL actions makes more sense.

I was looking for an example where there is actual control-flow logic inside each branches. Off of your example I would actually argue that what we are doing

[2021-07-01 21:55] svudutala commented on #358
@antmendoza Thank you for the response. Do you need anything from our end to help on POC?

CC: @taojwmware

[2021-07-03 11:05] cdavernas commented on #413
@tsurdilo though I agree with your last comment, I think @yzhao244 has a point. What if I want to execute two switch cases in parallel? Let's imagine you have a package, and you want to publish it in both staging and prod. The publishing process switches on the package type to determine on which app you actually want to publish it.

Now, I've had a similar concern with my a client, and we first en

[2021-07-03 11:19] cdavernas commented on #398
@tsurdilo Great idea, but I'm personally not a huge fan of it. It would solve the problem raised by @yzhao244, but does it in a somewhat tricky way IMHO.

The way I see it, we should be able to reference timeout and error handling strategies in both states and actions. Doing so would allow the author to cherry pick the actions that require a specific retry before eventually bubbling the error up a

[2021-07-03 11:21] cdavernas commented on #398
Another idea could be to provide actions with a `retry: true/false` property. In case it is set to false, if the state attempts a retry, the action would be ignored.

[2021-07-03 12:09] tsurdilo commented on #398
I think i understand. Let talk via example json/yaml orherwise
i think we could end up in long discussions that bring no value as we miss
individual  points completely.
I think lets start from the root which imo is that retries are bound to
error types currently.  imo thats where we  should look into making the
first change and go from there, meaning retries should be tied to action(s)
and actions

[2021-07-03 12:23] tsurdilo commented on #413
I was not dissageeing with this issue just wanted to find use case and you
provided :)

i wonder if for it it would make more sense to add branch data filter
instead, where you can inject / overwrite state data field for that branch
(one sets prod the other dev or whatever) .

my thinking is that if we allow explicit control flow logic in branches it
will end up creating more issues than bring val

[2021-07-05 18:30] yzhao244 opened #418 "subFlow timeout"
**What is the question**:
I have a question regarding Workflow Timeouts. :)

Since currently, the parallel state branch supports actions definition which can use subFlowRef, is the workflow timeout of the subFlow going to be overwritten by Action execution timeout or vise versa?

When I looked at the example of [Workflow Timeouts](https://github.com/serverlessworkflow/specification/blob/main/speci

[2021-07-06 14:28] antmendoza commented on #358
Hi @svudutala no sorry I have been working in the sdk-typescript, and still there is some work to do.

If no one is working on this in 2/3 weeks I could  start something.

[2021-07-07 15:12] cdavernas opened #420 "Refactor `rest` Operation"
**What would you like to be added**:

1. Rename the `rest` operation type into `openapi`: the actual REST operation is an `openapi` operation, and could therefore be confusing to some.
2. Create a `rest` operation type, which allows configuring a request from top to bottom, thus enabling out-of-the-box support for legacy systems.

The `rest` operation definition could look like this:

[code]
And i

[2021-07-07 15:27] JBBianchi commented on #420
Good idea!

Not 100% sure about the spec, for instance
[code]
The # could be part of the url. I think a separated property for the verb/method would be cleaner.

Also, not sure having `cookie` is required, it's a set of headers after all?

[2021-07-07 15:33] cdavernas commented on #420
@JBBianchi Great point for the `#`. But this wall just an example, a first glimpse.
As for `cookies`, I added them because so does `OpenApi`, didn't even bothered to think 😄

[2021-07-07 15:36] tsurdilo commented on #418
@yzhao244 Yes it will have to be like you describe.
The parent workflow action timeout must take precedence of the workflow execution timeout defined inside the sub-workflow.

[2021-07-07 15:41] JBBianchi commented on #420
It might be easier to have cookies separated, not sure.

[2021-07-07 15:42] tsurdilo commented on #420
@cdavernas @JBBianchi nice +1 on doing this.

The only two things I would change:
1. First the path param - make it an array of strings, for example:

       "path": ["a", "b", "${ .c}"]

and in your operation param you could do for example:

      "operation": "http://mysite.com/{1}/{2}/{3}"

2. Instead of hard-coding the method (post/put/get/delete) make it a property (enum) and make user pick i

[2021-07-07 15:45] cdavernas commented on #420
@tsurdilo Great idea! I'm gonna get working then!

[2021-07-07 15:48] JBBianchi commented on #420
Not sure about the array thing, the named parametters are less enclined to introduce errors. With arrays, the use needs to count, removing, adding or moving an item is trickier then with named ones.

[2021-07-07 15:50] tsurdilo commented on #420
@JBBianchi thats fair too, you could then make the "path" param an array of objects types that have name and value pairs if you wanted as well and have for example

      "operation": "http://mysite.com/{one}/{two}/{three}"

whatever you decide to do, this way you can with validation up-front tell user that "hey your function def needs 3 paths but you only defined 2" :)

[2021-07-09 07:46] cdavernas commented on #420
@tsurdilo for the way I described path parameters, I used the OpenAPI way, which is verbose but, like @JBBianchi said, is IMHO somewhat cleaner and less error prone. Plus, it can be formatted as such by modern logging technologies and can be queried by Kibana, for instance.
As for the verb, you idea does make a lot of sense. However, that way, the `FunctionDef` has little if no purpose. That's why

[2021-07-09 14:20] tsurdilo commented on #420
@cdavernas I think that if you delegate specific invocation info to functiondef you are losing reusability. What you could do is define something like "invocationTemplates" meaning in the function definition you could add

[code]

and then reference the template in the function ref and we can use {1}, {2} ... also to pass in params to the template.
wdyt?
If we just move the invocation info to func

[2021-07-09 17:18] cdavernas commented on #420
@tsurdilo I'm not sure we are speaking of the same thing. Basically, I wanted to add a `configuration` or whatever property to the `functionDef` where you could set headers, path, cookies and query parameters that would be included (merged) into the `functionRef` arguments (which takes precedence and can therefore override values). That way, you could reuse a, say, POST function definition, with c

[2021-07-09 17:28] cdavernas commented on #420
@manuelstein @ricardozanini you are both awfully silent 😭
Any comments/ideas/suggestions? WYT about those ideas?

[2021-07-09 17:49] tsurdilo commented on #420
@cdavernas ok.from the example it looks as those are all "arguments" in the function def and that threw me off. I think separating that name as in arguments/parameters vs like headers or metadata that would help

[2021-07-11 06:02] tsurdilo opened #425 "Move retry reference to be per state and not per error"
**Why is this needed**:
currently we reference retry definitions for specific errors and not the state level.
move the retry reference to be per state and not per error.

[2021-07-11 06:02] tsurdilo commented on #425
this needs to go in for 0.7

[2021-07-12 17:51] manuelstein opened #427 "Errors per actions"
**What happened**:
Using an array of actions, e.g. [functionA, functionB] can have overlapping errors, e.g. [CustomerNotFoundError].
Currently, I can only define a single error handling, but can't distinguish with which function it has occured.

**Anything else we need to know?**:
It can be resolved with more comprehensive actions (with retry, error handling, etc. per action).
Or if [state nesting

[2021-07-13 14:27] ricardozanini commented on #420
I liked the idea and this will help us on Kogito to reuse some work :)

About the REST function definition _per se_, I like the [JAX-RS approach of using annotations](https://en.wikipedia.org/wiki/Jakarta_RESTful_Web_Services), we could leverage their docs to avoid reinventing the wheel. I remember proposing something like this in the past before having openapi functions. :thinking:

[code]

Usage

[2021-07-19 00:46] #370 closed

[2021-07-19 18:09] yzhao244 commented on #413
@tsurdilo @cdavernas Thanks for the replies, guys. :) . Actually, the above AWS DSL example allows UI Console to easily render a graphical model in real-time since it allows end-user directly defines control logic which I believe Google Workflow, Ali Serverless Workflow both allow explicit control flow as well for the purpose of easily rendering graphical model.

In our spec, since using subFlowRe

[2021-07-22 00:46] #318 closed

[2021-07-22 04:00] gibson042 commented on #287
This issue is actually not stale, there just hasn't been any movement to address it.

[2021-07-26 20:04] yzhao244 commented on #398
@tsurdilo @cdavernas @ricardozanini @manuelstein Hi guys, I think it is a good idea to reference timeout and error handling/retry strategies in both states and actions. Based on my personal experiences with end-users,  the biggest selling point of Cloud serverless workflow services(such as AWS step function, Huawei Function Flow and so on) is the state management plus error/retry handlings which e

[2021-07-26 20:06] yzhao244 commented on #427
@manuelstein Yes, I agree with your issue here :). I raised similar one at here. #398

[2021-07-26 20:19] tsurdilo commented on #398
rly like the use of action groups in example!!

[2021-08-03 00:53] praveentiru opened #436 "Inconsistency in types in Workflow function reference"
**What is the question**:
While reading through the specification, I see inconsistency in Function definition here -> https://github.com/serverlessworkflow/specification/blob/main/specification.md#Function-Definition

The type enum has different values in table, type description and operation description. Operation description lists `rest`, `asyncapi`, `rpc`, `graphql`, `odata` and `expression` as

[2021-08-03 15:10] tsurdilo commented on #436
@praveentiru nice catch - thank you.
Btw. the "source of truth" should always be the spec schemas, in this case - https://github.com/serverlessworkflow/specification/blob/main/schema/functions.json#L45

Will update the spec doc to fix the error.

[2021-08-03 15:20] tsurdilo commented on #436
https://github.com/serverlessworkflow/specification/pull/437

[2021-08-03 15:21] tsurdilo commented on #427
this was added as part of https://github.com/serverlessworkflow/specification/pull/435
it includes "errorRef" as well as optional "errorRefs" array of strings

[2021-08-03 15:22] tsurdilo commented on #398
https://github.com/serverlessworkflow/specification/pull/435 solves imo most of these mentioned issues.
we will look into adding groups in our next spec release (after 0.7).

[2021-08-03 16:56] #436 closed

[2021-08-04 17:30] yzhao244 commented on #413
@tsurdilo @cdavernas For better supporting explicit control flow, I am thinking to set a limit on number of nested layers if end-user chose to define explicit control flow in branches so that our spec can ensure backward compatibility of supporting explicit flow. The following is a suggested example spec of Branch definition for supporting both actions and states definitions. :)

#### <a name="par

[2021-08-04 17:50] tsurdilo commented on #413
@yzhao244

they do now (will be hopefully added to 0.7 release :) ) - https://github.com/serverlessworkflow/specification/pull/435

Overall I do think that supporting both is in the end what we want to do. The way I'd like to do it however is a little different :)
Instead for 2 reasons:
1. states inside a branch have to conform to the "workflow control flow logic" meaning they have to have a start

[2021-08-08 01:23] tsurdilo commented on #418
@yzhao244 can this issue be closed?

[2021-08-08 02:32] tsurdilo commented on #410
Added via extension - https://github.com/serverlessworkflow/specification/pull/442

[2021-08-09 17:38] #400 closed

[2021-08-09 17:58] #401 closed

[2021-08-10 13:29] yzhao244 commented on #418
@tsurdilo yes :)

[2021-08-10 13:29] #418 closed

[2021-08-11 04:29] #427 closed

[2021-08-11 04:43] tsurdilo commented on #425
resolved

[2021-08-11 04:43] #425 closed

[2021-08-16 17:07] #362 closed

[2021-08-17 14:29] JBBianchi opened #452 "Typo in auth schema ?"
There might be a type in the auth JSON schema: bearer**i**propsdef
https://github.com/serverlessworkflow/specification/blob/main/schema/auth.json#L105

That "i" hanging there seems suspicious.

[2021-08-17 14:33] #452 closed

[2021-08-17 14:38] tsurdilo commented on #452
@JBBianchi thanks!! fixed in spec main and 0.7.x branch as well as website schemas

[2021-08-17 15:54] #410 closed

[2021-08-17 16:32] suhasark opened #455 "Intellij Plugin similar to VSCode Extension"
**Describe the extension you would like to be added**:
An Intellij Idea IDE plugin with similar functionality as that of VSCode extension

**What is the main purpose of the extension**:
This plugin/extension would be useful for developers that use Intellij IDEA as the IDE for their development needs. The workflow spec integration within the IDE will make it easier to visualize the workflow in-plac

[2021-08-18 03:58] tsurdilo commented on #455
Think this would be very useful to have.

[2021-08-18 21:42] yzhao244 commented on #413
@qjl1988

[2021-08-18 21:59] yzhao244 commented on #413
@tsurdilo I read the ActionRetries in 0.7 release. Good Work :) ..
"grouping" of state sounds an interesting idea. However, since parallel branch state still needs to reference the group, then how is it different from referencing to a subworkflow Id in current spec. Maybe it is just me lol having difficulty of visualizing grouping of states or maybe I misunderstood something here. lol

[2021-08-18 22:02] yzhao244 commented on #398
@tsurdilo Thanks for adding ActionRetries in 0.7 :) . For the idea of Actions group, should I raise separated issue for discussion?

[2021-08-18 23:10] tsurdilo commented on #413
@yzhao244 yeah, we can/should definitely talk about it to figure it out. Let's plan on that.

[2021-08-18 23:12] tsurdilo commented on #398
@yzhao244 sure. or we can finally start using our discussions board https://github.com/serverlessworkflow/specification/discussions :)

[2021-08-19 20:31] ricardozanini commented on #455
@suhasark are you able to contribute to such a plugin?

[2021-08-21 04:05] tsurdilo opened #461 "Make start param optional"
**What would you like to be added**:
if not specified its first defined in states[]
**Why is this needed**:
less markup to write

[2021-08-21 04:08] tsurdilo opened #462 "Make iterationParam in ForEach state optional"
**What would you like to be added**:
should be optional. if not defined can be auto set by runtime
**Why is this needed**:
in some
cases not neededto be explicitly defined so less markup to write

[2021-08-22 22:33] tsurdilo opened #463 "Make workflow "id", "key" parameters not required"
**What would you like to be added**:
Make id , key params not required
**Why is this needed**:
if one is not provided, runtime can generate unique

[2021-08-22 22:35] tsurdilo opened #464 "Make workflow name param not required"
**What would you like to be added**:
Make "name" param on workflow no required
**Why is this needed**:
uniqueness by id. name is not referenced anywhere else. subflow ref is by id so name can be optional

[2021-08-22 22:41] tsurdilo opened #465 "Add async support for actions"
**What would you like to be added**:
Add async support for actions
**Why is this needed**:
currently does not exist

[2021-08-24 02:35] suhasark commented on #455
Yes , I can take up this work - Thanks

[2021-08-24 03:27] tsurdilo commented on #455
@suhasark nice!!! I would like to help with it if possible

Just as like comparisons, our VSCode plugin https://github.com/serverlessworkflow/vscode-extension really has two main features:
1) Json/Yaml intellisense from the spec json schemas.
note that on our website (serverlessworkflow.io) we maintain the schemas, for example:
https://serverlessworkflow.io/schemas/0.7/workflow.json for our latest

[2021-08-24 04:40] manick02 commented on #464
@tsurdilo I will take a look at this but am totally new to the specification. Any suggestion on getting started would be helpful

[2021-08-24 04:51] suhasark commented on #455
Thank you @tsurdilo .

- You are right about the intellisense support with Intellij. The schema file configuration should work
- Separate repo would be useful for this plugin.
- I did have a cursory look at the diagram generation service code. It is written using quarkus , so ideally will be very quick to get the service started. So instead of invoking the hosted service on OpenShift, I was thinki

[2021-08-24 11:38] tsurdilo commented on #455
Sounds good. The reason we used Quarkus (could have used SpringBoot or Micronaut, etc as well really) is just so could expose a rest endpoint to the diagram generation.
 In the Intellij plugin you dont have to start that whole service you could just have code that calls the existing public endpoint via some https apis to get the raw svg and display it.
The advantage of doing that inside the ide (w

[2021-08-24 13:51] ricardozanini commented on #455
@suhasark I think you can leverage the diagram generation library directly instead of firing up the service locally, assuming the IntelliJ platform has Java support.

[2021-08-24 17:58] suhasark commented on #455
Yes that is possible.

Intellij plugins can be written in Java or Kotlin (haven't used this before). It puts a compile time dependency on the library which I presume is okay.

[2021-08-24 18:13] tsurdilo commented on #455
in that case i think you would just need to have a dependency to the java sdk modules, not the diagram generation project

[2021-08-25 03:33] suhasark commented on #455
Thank you @tsurdilo and @ricardozanini .

Please let me know when a new repo is created.

[2021-08-25 14:07] tsurdilo commented on #455
@suhasark
https://github.com/serverlessworkflow/intellij-plugin
let me know who all i should add as members of this repo

thanks

[2021-08-25 14:16] tsurdilo commented on #464
For the schema change, look at the required params here as Ricardo mentioned - https://github.com/serverlessworkflow/specification/blob/main/schema/workflow.json#L174 and remove "name" from both arrays there.

There is no need to update any examples.

[2021-08-31 06:32] manick02 commented on #464
thanks for the help @ricardozanini and @tsurdilo  let me do this and raise a PR.

[2021-08-31 08:50] manick02 commented on #464
Raised the PR https://github.com/serverlessworkflow/specification/pull/467

[2021-08-31 11:08] manick02 commented on #463
I will take a look at this as well. This seems similar to #464

[2021-08-31 11:19] tsurdilo commented on #463
nice. yeah update the schema and the required field in table and then we can figure out the text in spec doc that needs updates. thanks

[2021-08-31 17:01] cdavernas commented on #463
IMHO, turning all those properties into optionals might bring in some quality of life issues for users. As a matter of fact, if a user deploys a workflow and overlooks the returned ID or key, he's left with no ubiquitous way to find that workflow amongst potentially hundreds of definitions. I believe those properties should be mutually exclusive, leaving the user with a choice concerning identific

[2021-08-31 17:20] tsurdilo commented on #463
@cdavernas are we concerned finding workflow definitions or workflow instances?
As far as definitions goes, those are user-defined.
User would need some id which is almost always runtime-specific. This they should get from the runtime, on deployment/execution time.

Typically the id alone is not enough to identify a workflow instance/execution. You also need some instance id which in combination t

[2021-08-31 17:27] tsurdilo commented on #463
@cdavernas side-tracking this discussion, we should probably add a "namespace" param to our dsl.
Currently no matter the runtime, the DSL cannot specify that one workflow state should run on a different pod for example than another. It's assumed that either they all run on the same pod or its up to the magic of the runtime to figure that out.

There are however many use cases where you want certai

[2021-08-31 17:43] ricardozanini commented on #463
@tsurdilo, I think we shouldn't have this defined in the DSL. Again, it's a matter of infrastructure, which implementations should manage by themselves.

Kubernetes, for example, has the ability to control objects by labels and annotations. Implementations should expose such information relying on the platform it's running. If the SW would have a Kubernetes CRD representation, one can leverage the

[2021-08-31 17:43] #464 closed

[2021-08-31 17:56] tsurdilo commented on #463
@ricardozanini
I think thats fair, but it is from the point of view of a "closed system", meaning user does not control the deployment infra.
In those types of systems requirements like defining that workflow states A, B, C should all run in the same location and D, E on another (these are real business requirements btw) cannot even be considered and many people fall to not using workflows for tho

[2021-08-31 19:30] cdavernas commented on #463
@tsurdilo

Well, in my use cases, I am indeed concerned with finding workflow definitions and their associated instances. This is for tracking, tracing, management, log aggregation and metrics.

Furthermore, as I said in my comment, I think it's important we think about the versioning aspect. If the `id` is auto-generated by the runtime, there is no need for versioning, as any definition added in

[2021-08-31 19:38] cdavernas commented on #463
@tsurdilo Regarding your idea on pod-related config and such, though I find it interesting, I tend to agree with @ricardozanini, as often.

In my personal opinion, deployment related information is out of Serverless Workflow scope, as it is a runtime/infrastructure concern. It's purely related to the control plane, which lies way beyond the boundaries of the spec as I see it.
At best, we could coo

[2021-08-31 19:45] ricardozanini commented on #463
@tsurdilo I think the research/study @cdavernas and I are doing about representing the SW on "containers orchestration platforms" would answer many of these questions you brought in your previous comment.

They are super valid, and I think we need to bring them to the table. Perhaps opening a new doc about how the spec is supposed to be represented in such environments. Not written in stone, more

[2021-09-01 03:28] tsurdilo commented on #463
@manick02 seems after these discussions we want to hold off on this issue for now, sorry.
We can work on the other open good first issues if you are up for it :) . Will try to open some more this week as well.

@cdavernas @ricardozanini the dsl does not have to contain some deployment related information as we always abstract that. The point I was trying to make  is that we cannot currently descri

[2021-09-01 03:28] #463 closed

[2021-09-01 03:34] manick02 commented on #463
@tsurdilo thanks, I will pick up other two :)

[2021-09-01 03:35] manick02 commented on #461
I will start having a look at this

[2021-09-02 19:06] yzhao244 commented on #413
@tsurdilo created this one on discussion board :) . https://github.com/serverlessworkflow/specification/discussions/466

[2021-09-07 00:34] manick02 commented on #462
I will start looking at this as well

[2021-09-08 14:47] #461 closed

[2021-09-09 02:09] tsurdilo opened #475 "Ability to define global retries strategy for all actions"
**What would you like to be added**:
Global retries strategy that should be applied to all actions
**Why is this needed**:
Currently each action has to define own

[2021-09-09 02:11] tsurdilo commented on #462
@manick02 thanks!

[2021-09-09 19:57] tsurdilo commented on #455
@suhasark just fyi, we are moving towards diagram image generation using our typescript sdk and mermaidjs, you can see how @antmendoza switched our website online editor to it: https://github.com/serverlessworkflow/serverlessworkflow.github.io/pull/110
so pretty soon we will be retiring the diagram generation service just need to update the vscode plugin to use our typescript generator

[2021-09-10 12:18] manick02 commented on #475
I will take a look at this and come back with questions if any.

[2021-09-12 13:34] manick02 commented on #475
I am assuming the global retry strategy means global retries
` "autoRetries": {
      "type": "boolean",
      "default": false,
      "description": "If set to true, actions should automatically be retried on unchecked errors. Default is false"
    },
    "retries": {
      "$ref": "retries.json#/retries"
    },`    In my analysis the best way to do this would be to adding **one of**(_globalRetry

[2021-09-13 19:00] tsurdilo commented on #475
@manick02 currently we can define the

      "retries": []

array as a top-level workflow property. in action definitions we can then specify a "retryRef" which maps to one of those retries definitions.
The idea is to somehow define one retries definition which is default, meaning that if an action does not specify a retryRef, this default one should be used.

One idea would be as you mentioned to

[2021-09-14 02:51] manick02 commented on #475
In my opinion, Having IsDefault on retries and restricting to only one set to try will make it harder/impossible to describe in the specification using json schema.

[2021-09-19 18:34] tsurdilo commented on #475
agree, some times we cannot just rely on json schema as it does have these types of restrictions. it is ok to define some rules in the spec that go beyond the capabilities of the underlying schema. we can discuss

[2021-09-21 02:34] tsurdilo commented on #398
@yzhao244 can this issue be closed?

[2021-09-21 02:35] tsurdilo commented on #420
@cdavernas should we move on this?

[2021-09-21 02:35] tsurdilo commented on #462
closed by https://github.com/serverlessworkflow/specification/pull/477

[2021-09-21 02:35] #462 closed

[2021-09-21 07:51] manick02 commented on #475
I feel having rules going beyond schema will implementation of Runtime and TCK bit more complex, people can correct me

[2021-09-21 08:04] cdavernas commented on #420
@tsurdilo with pleasure!

[2021-09-21 08:08] cdavernas commented on #420
@ricardozanini Even though I like what you proposed, it seems a bit too loose to my taste, especially in the case of query strings. I'm not opposed to doing it that way, but woul definitly prefer something like what OpenAPI does, meaning allowing to specifiy the localtion of an argument (i.e. in:query).
For example you could very well call twice the same REST function, once with a query string par

[2021-09-21 12:00] ricardozanini commented on #420
@cdavernas that proposal was just a dump from my brain that I come up with in five minutes. We can definitely improve it.

About calling the GET REST function twice without the parameter, you can just do this:

[code]

[code]
Without the argument, we can make the call without the querystring.

But I agree that we should enforce/make it more reliable instead of using `metadata`  fields for everythi

[2021-09-21 17:57] yzhao244 commented on #398
@tsurdilo Yes, I am going to close this one. Thx :)

[2021-09-21 17:57] #398 closed

[2021-10-01 06:06] globalflea opened #486 "Add default action filter for all actions"
**What would you like to be added**:
Add a default action data filter to can be applied to all actions in a state

**Why is this needed**:
Currently data filters are defined individually for each action, which may be tedious and more error prone, may be good to add a default action data filter for all actions without a specific data filter

[2021-10-01 06:08] globalflea opened #487 "Add ability in actions to specify that action/function results should be ignored (not merged with state data)"
**What would you like to be added**:
Add ability in actions to specify that action/function results should be ignored (not merged with state data)

**Why is this needed**:
Currently there is no way to specify that action/function results should be ignored (not merged with state data).  May be good to allow results to be ignored

[2021-10-01 06:13] globalflea opened #488 "Improve the specification document to give more details on how multiple actions are handled"
**What would you like to be added**:
Greater clarity in specs for how multiple actions (e.g OperationState) should be handled.  Specifically, how the results for such actions should be treated:
1. when are they merged with toState filter
2. should the results be merged together before or after being filtered by toState filter
3. how should error for any of the actions be treated?  Abort the state?

[2021-10-01 06:18] globalflea opened #489 "clarity on exclusive options in specs"
**What would you like to be added**:
In all affected definitions, add details to specify when required fields are exclusive of other fields - i.e. out of n required fields, only one must be defined

**Why is this needed**:

There are many occurrences where a field in a definition has description that say "Required if *another field* is not defined".  However, it is not state if these fields are ex

[2021-10-06 13:01] cdavernas commented on #287
IMO, that issue is indeed stale. Bottom line is there's nothing out there that is as practical as `jq` when it comes to querying/filtering json. Sure, it has its limitations, and a decent versioning capability is one of them. But let's face it, it's well documented, well adopted, stand-alone, cross-platform and has a crazy amount of irreplacable features. IMO, the quest to replace it somehow by so

[2021-10-06 13:06] cdavernas commented on #287
IMO, no it wouldn't be fine to push on implementers further requirements simply for working decently with a third-party, exchangeable expression engine.

[2021-10-06 13:13] cdavernas commented on #287
Again, I disagree. We are not speaking of rocket science here. You give in the right json input to `jq`, it's gonna perform the exact same way on any number of implementations. If, of course, implementers decide not to pre-process workflow expressions for interpolation, and if you delegate all that SW-related work to a third party product, we do land on the minefield that made you guys open that h

[2021-10-06 14:24] tsurdilo commented on #287
@cdavernas +100
I think that this issue has been opened and re-opened without anyone being able to suggest a better alternative
will close it for now and possibly reopen in the future if really needed.

[2021-10-06 14:24] #287 closed

[2021-10-06 14:26] tsurdilo commented on #324
@cdavernas we talked about this in this weeks meeting. will create a new repo and move all our examples
and test json/yaml into it. SDK then can have a common pool of test workflows to use
rather than having to have their own

[2021-10-07 12:11] ricardozanini commented on #287
+1000 @tsurdilo. Many thanks for your words, @cdavernas. You said everything that I'd like to say in this thread.

[2021-10-11 18:56] tsurdilo opened #498 "Add errorDef properties table to spec doc"
The spec doc is missing definition of error def. Here is the associated schema def- https://github.com/serverlessworkflow/specification/blob/main/schema/errors.json#L29

This should be added to https://github.com/serverlessworkflow/specification/blob/main/specification.md#workflow-error-handling

[2021-10-21 05:49] DoisKoh opened #503 "Trivial issue with "Workflow Expressions" section in specification.md"
At line 1610, example data is defined as:
[code]

At line 1672, this data is used in the example inline expression:
[code]
Unless I am misunderstanding something, the email field is missing from the example json: ```{ "email": "johndoe@something.com" }```

Thanks.

**Environment**:
- Specification version used: v0.7

[2021-10-21 11:48] cdavernas commented on #503
@DoisKoh Thanks! Will fix asap ;)

[2021-10-22 09:24] DoisKoh opened #504 "Typographical Errors in specification.md"
**Workflow Timeout Definition**
In line 5302, ```actionExecTimeouts``` has an "s", it is later defined without an "s" as ```actionExecTimeout``` in line 5312 . The other nearby timeout properties are all singular as well.

**OAuth Properties**
https://github.com/serverlessworkflow/specification/blob/0.7.x/specification.md#oauth2-properties-definition

```requestedSubject``` is duplicated in the ta

[2021-10-23 17:45] #504 closed, assigned to tsurdilo

[2021-10-23 17:45] #503 closed, assigned to nobody

[2021-10-28 04:46] DoisKoh opened #513 "Data in examples not matching specification"
This example omits the "type" parameter for the array of events.
https://github.com/serverlessworkflow/specification/tree/0.7.x/examples#Event-Based-Service-Invocation

The following 2 examples omit the "defaultCondition" for the Switch states.
https://github.com/serverlessworkflow/specification/tree/0.7.x/examples#Book-Lending
https://github.com/serverlessworkflow/specification/tree/0.7.x/example

[2021-10-28 19:22] #513 closed, assigned to tsurdilo

[2021-10-31 05:28] DoisKoh commented on #489
To add to this, here are some of the occurrences where I've had similar issues:

- Action definition's ```functionRef```, ```eventRef```, and ```subflowRef``` (as already stated above)
- ```transition or end```: many definitions contain either ```transition or end``` listed together as one required parameter, whereas some others have both ```transition``` and ```end``` parameters, usually with ```

[2021-11-03 22:19] antmendoza opened #516 "Rename DataBasedSwitch to DataBasedSwitchState and EventBasedSwitch to EventBasedSwitchState"
**What would you like to be added**:

Rename DataBasedSwitch to DataBasedSwitchState and EventBasedSwitch to EventBasedSwitchState

**Why is this needed**:

It is only about naming "convention" as I see it.
Whether I am reading the documentation or coding I can see that the rest of the states end with the word `State`, so I am expecting these states to follow the same convention.

[2021-11-03 22:28] tsurdilo commented on #516
@antmendoza there is only a single switch state. In the json schema it can be one or the other type:
https://github.com/serverlessworkflow/specification/blob/main/schema/workflow.json#L1118

do you think this can be improved?

[2021-11-03 22:52] antmendoza commented on #516
yes, I understand that there are two implementations DataBasedSwitch and EventBasedSwitch, in the same way that Eventcondition has Transitioneventcondition and Enddeventcondition.

for example, in the typescript sdk the builder name is type+`Builder`, so when we are creating a workflow the code looks like this:

[code]
it is weird to me don't see the word state in the databasedswitchBuilder, again

[2021-11-03 22:54] tsurdilo commented on #516
good point, understand now. yeah lets fix this

[2021-11-03 22:55] antmendoza commented on #516
I can create a PR

[2021-11-04 00:01] tsurdilo commented on #516
thanks!!

[2021-11-06 01:50] tsurdilo opened #520 "onEvent->eventRefs array should have unique values"
onEvents-eventRefs array should have only unique values

[2021-11-06 02:03] tsurdilo commented on #489
@globalflea @DoisKoh working on this now :)

[2021-11-08 13:07] cdavernas commented on #520
@tsurdilo What do you mean with that?

[2021-11-08 15:08] tsurdilo commented on #520
"eventRefs": ["HighBodyTemperature", "HighBodyTemperature", "HighBodyTemperature", "HighBloodPressure],

what does that mean? :)

[2021-11-08 15:17] cdavernas commented on #520
@tsurdilo Ah! Indeed! 👅

[2021-11-09 01:22] #520 closed

[2021-11-09 01:22] #516 closed

[2021-12-09 01:14] globalflea opened #543 "Allow Extensions to be more vendor specific and vendor friendly"
**What would you like to be added**:
Include a "namespace" field to indicate the organisation or category for the extension.  In addition, parameters "extensionId" and "path" to be optional and a json object be defined if these two parameters are missing
**Why is this needed**:
The namespace (or some better name) will allow the vendors to mark certain extensions applicable to their workflow implem

[2021-12-14 09:45] mswiderski opened #550 "Constants using illegal jq character"
**What happened**:
In the spec (https://github.com/serverlessworkflow/specification/blob/main/specification.md#Workflow-Constants) constants mandate to use `$CONST` namespace to access values of the constants. The problem is that `$` is reserved character in jq and the only way to make use of it is to use quotes based access like `"$CONST".NAME.FIRST_NAME`

**What you expected to happen**:
Either

[2021-12-14 09:48] cdavernas commented on #550
@mswiderski This has been the subject of many long conversations in the past. Point is,  IMO you should pre-process the jq expression and interpolate all $const or $env or whatever reserved keywords, then pass the interpolation result to jq.

[2021-12-14 09:55] mswiderski commented on #550
thanks @cdavernas for very quick reply!

While I agree this is a valid implementation approach I am not sure spec should give examples of expressions that are really not valid. Or at least it should mention that it is known and implemented should resolve it before evaluation since spec mandates the use of `$CONST`

What do you think?

[2021-12-14 10:01] cdavernas commented on #550
@mswiderski Hehe, you're welcome. I guess we share the same timezone x)

I completely agree with you, the doc as it is might be misleading to newcomers.

@tsurdilo Any suggestions?

[2021-12-14 14:17] cdavernas commented on #550
@manuelstein This might interest you ;)

[2021-12-14 14:23] tsurdilo commented on #550
Don't think this is interpolation issue hehe. Seems to me more of jq expression eval problem?

[2021-12-14 14:27] cdavernas commented on #550
@tsurdilo It has to do with reserved keywords that, if I remember correctly, @manuelstein wanted to substitute for more cross-compatible ones.

[2021-12-14 14:29] tsurdilo commented on #550
Ok. From what I see, and could be wrong is that CONST is not a namespace but argument name passed to jq that binds $CONST to its value.

[2021-12-14 14:43] tsurdilo commented on #550
If you have json:
           {
              "letters": ["a", "b", "c"]
           }

you can with jq:

            jq --arg CONST "d" '.letters |= .+ [$CONST]' test.json
            {
              "letters": [
                "a",
                "b",
                "c",
                "d"
              ]
            }

[2021-12-14 15:36] mswiderski commented on #550
yeah, as I understand it it seems that `$` is marker for variables ins `jq`. So it cannot be easily used without bind that variable before using it. So maybe the question is - was this intended? Or do we want to have it like that (consider CONST) to be a variable.

Personally I considered CONST to be namespace and not variable that requires binding explicitly before evaluating expression. Though m

[2021-12-14 15:48] tsurdilo commented on #550
yes the idea was to use jq variables for that.
they can be added as args as shown before, but you can always also assign vars in expressions, for example:

      echo '{"hello": "world"}' | jq '{"not": "bar"} as $CONST | . + {"not": $CONST.not}'
      {
        "hello": "world",
        "not": "bar"
      }

[2021-12-14 16:03] mswiderski commented on #550
alright, fair enough. If this is intended to be a variable then it is all good. Might be worth adding a note in the spec as right now it's referred as namespace which might be bit confusing (at least it was for me).

Thanks for all the comments that allowed me to better understand it and continue with implementation @tsurdilo @cdavernas

[2021-12-14 16:05] tsurdilo commented on #550
Thanks @mswiderski! Yeah lets use this issue to fix the text in spec. Will work on it

[2021-12-15 01:57] globalflea opened #551 "Example on StateExecTimeout implies States can be retried which is wrong"
From the specs on StateExecTimeout :
"...single property. To show an example, let's say that we set the single property to "PT10S", meaning 10 seconds. A workflow state "X" which defines this timeout when first executed has the max execution timeout set to 10 seconds. If the state execution is then retried, each time it is retried, the individual retry max execution timeout is again 10 seconds." (

[2021-12-15 10:28] cdavernas opened #556 "Add a top-level "default" correlation property"
**What would you like to be added**:

A way to specify default correlation keys to be added to all the events produced by workflows.

I was thinking of something of the like:

[code]

**Why is this needed**:

When a workflow is instanciated asynchronously by a client, the latter usually needs a way to easily correlate events produced by the instance she has created, based on given discriminator va

[2021-12-15 14:29] tsurdilo commented on #556
For dsl since we already define correlation in event definitions, I'd rather externalize correlations and allow event defs to reference it, for example:

          {
              "name": "HighBodyTemperature",
              "type": "org.monitor.highBodyTemp",
              "source": "monitoringSource",
              "correlationRef": "patientIdCorrelation"
          }

For usability, I think that

[2021-12-15 15:59] cdavernas commented on #556
@tsurdilo There is not such thing as returning an id, in a fully async context: I think you are only considering the HTTP 202 Accepted trick which is, well, a trick. A fully async context, such as event-driven, cannot return anything: an event is produced at T1 by someone, and consumed at T2 by the runtime, which then starts a new workflow. For obvious reasons, you cannot either impose that id to

[2021-12-15 16:09] #556 closed

[2021-12-15 16:09] tsurdilo commented on #556
Let's take this offline cause its apparent I may not understand the issue.

[2021-12-16 05:34] globalflea opened #557 "Clarify Retry Multiplier and Increment usage and also minimum value for Multiplier"
**What would you like to be added**:
clarity on the use of Increment and multiplier field in Retry definition
**Why is this needed**:
In Retry Definition, spec says:
increment - Static duration which will be added to the delay between successive retries
multiplier - Float value by which the delay is multiplied before each attempt

in the first example provided delay is "PT10S" and increment is "PT

[2021-12-21 10:03] qqeasonchen opened #559 "Integrate with Apache EventMesh"
Apache EventMesh[1] can serve as Serverless Eventing infrastructure and also in CNCF  Serverles Landscape, it might be a good choice to integrate with ServerlessWorkflow as orchestration engine.

[1]https://github.com/apache/incubator-eventmesh

[2021-12-22 02:54] keepupon opened #560 "Why not Succeed&Fail State?"
**What would you like to be added**:
New workflow states, succeed and fail

**Why is this needed**:
Just like succeed\fail state in Amazon States Language and stackstorm's engine commands fail&noop, there is a situation to explicitly end the workflow with succeed\fail status (end workflow execution with succeed if some minor error is encountered, for example).  Though we can use the end parameter

[2021-12-22 03:25] tsurdilo commented on #560
Hi @keepupon, can you show an example where such states would be good to have? I am aware of those states in ASL but outside of testing could never find a real use case to use them.

I think we could achieve something similar with current end definition by possibly adding a "criteria" (fill in some better name here) property that can be used to denote some domain-specific status? We could also jus

[2021-12-22 03:30] tsurdilo commented on #559
@qqeasonchen i think this would be definitely cool to have. I am personally new to EventMesh so don't feel comfortable proposing an integration until learn more about it. If you would like please share how you would integrate it with serverless workflow dsl, would help a lot.

[2021-12-22 06:41] qqeasonchen commented on #559
@tsurdilo glad to hear your reply, i want to know if serverlessworkflow runtime can integrate with eventmesh runtime, or serverlessworkflow runtime only can runs itself and eventmesh using serverlessworkflow-java-sdk to communicate with serverlessworkflwo runtime, you can correct me if i am wrong, thanks.

[2021-12-22 07:44] vongosling commented on #559
AFAIK, serverless workflow runtime is being designed and developed by @yzhao244

[2021-12-22 07:59] mswiderski commented on #559
in general there are several serverless workflow runtime implementations in java in the works (https://github.com/kiegroup/kogito-runtimes, https://github.com/automatiko-io and maybe more that I am not aware of) so in theory they could all be integrated though it would have to be known more on what type of integration is expected. I am pretty much on the same page as @tsurdilo on Apache EventMesh

[2021-12-22 08:15] qqeasonchen commented on #559
EventMesh supports CloudEvents already，and also can extend AsyncAPI too. so if there is no default runtime implementation of serverlessworkflow runtime, we can design it just as @vongosling @yzhao244  mentioned.

[2021-12-22 19:55] tsurdilo commented on #559
@qqeasonchen

Our sdks are not runtime implementations, they provide help with parsing and validating the dsl (json/yaml), and ability to create a workflow definition using programming language. Some like java and typescript also allow for svg/png generation to visualize the workflow definition.

[2021-12-22 19:58] tsurdilo commented on #559
@qqeasonchen
Wanted to ask, looking at EventMesh docs they mention that orchestration is part of their project.
Sorry if I am being ignorant, but wouldnt it make sense for EventMesh to integrate the Serverless Workflow DSL as part of their orchestration language? Imo SW dsl would be perfect for describing the control flow logic of whats in the "rule engine box" here:

<img width="861" alt="Screen

[2021-12-22 20:08] tsurdilo commented on #559
@qqeasonchen
yeah, looking at this more it seems SW would indeed be a perfect solution for EventMesh as far as using it to define the orchestration, and invocation of "end systems" that are ontop of the image in last post. This is really what SW is about in the end.

As far as integrating of EventMesh inside the SW DSL, do you mean that a workflow could trigger EventMesh orchestration, or is it th

[2021-12-22 20:18] ricardozanini commented on #559
@qqeasonchen, as @tsurdilo just mentioned, I think EventMesh could be a candidate to implement the spec.

[2021-12-23 03:25] tsurdilo commented on #543
@globalflea can you please review associated PR https://github.com/serverlessworkflow/specification/pull/562

[2021-12-23 03:56] tsurdilo commented on #550
@mswiderski pls review https://github.com/serverlessworkflow/specification/pull/563 when can

[2021-12-23 04:30] tsurdilo commented on #551
@globalflea please review https://github.com/serverlessworkflow/specification/pull/564

[2021-12-23 04:38] yzhao244 commented on #559
@tsurdilo @ricardozanini @qqeasonchen @vongosling I totally agree with @tsurdilo. Serverless Workflow defines the rules and regulations how event/data is orchestrated in a flow. I believe supporting event orchestration is definitely what EventMesh needs. :)  As mentioned by @mswiderski , both projects support CloudEvents protocol which makes integration easier lol..
Additionally,  SW supports rich

[2021-12-23 05:01] tsurdilo commented on #559
@qqeasonchen @vongosling et all, maybe it would be best if we discussed this on zoom. Think it would be great for EM and SW to connect and start some discussions around possible integrations. Will try to catch up on EM in the meantime so I'm not a total noob :)

Feel free to propose a good day and time and let's get together

[2021-12-23 05:28] tsurdilo commented on #489
@globalflea @DoisKoh please review https://github.com/serverlessworkflow/specification/pull/566

[2021-12-24 03:02] #550 closed

[2021-12-24 03:03] #551 closed

[2021-12-24 03:08] #557 closed

[2021-12-25 06:40] #489 closed

[2021-12-27 13:24] ricardozanini opened #567 "Make `resultEventRef` optional for Action EventRef definitions"
**What would you like to be added**:

This was already discussed in #161, but I'd like to bring it up again since it might be scenarios where I want to fire a function and not wait for a result. The spec can cover such use cases by making this field optional instead.

Additionally, this field should be renamed not to be confused with the `eventRef` attribute in other places, such as in the `callba

[2021-12-27 15:19] fjtirado commented on #567
On top of that, it can be also argued why do we need resultEventRef at all, if fire&wait result can be achieved by using a callback state which action has a triggerEventRef.

[2021-12-27 18:22] tsurdilo commented on #567
@ricardozanini

1. imo resultEventRef is needed if "invoke" is set to "sync" (which is the default). That's the only way to know if the function invocation completed. If "invoke" is set to "async" then i think we can just say that resultEventRef can be ignored (not required).
2. not sure this is needed to rename, as the other props are "functionRef" and "subflowRef", which all fits together atm. i

[2021-12-27 18:26] tsurdilo commented on #567
its needed when you want to invoke a function (sync, waiting on it to complete) inside your actions array in like operations state, or foreach state, or parallel state.  If you want async then just set "invoke" prop to "async".

[2021-12-28 12:31] ricardozanini commented on #567
Having the `sync` option emphasizes the argument to make `resultEventRef` optional. What we can do is to make the `resultEventRef` required if `invoke` is `sync`. But this sounds marginally the same thing. We can get rid of the `invoke` attribute and just leave `resultEventRef` not required. If it's there the invocation is assumed to be sync.

I agree, but you can't assume that every use case will

[2021-12-28 20:15] tsurdilo commented on #567
rather not have to rely on a property called "resultEventRef" to specify if this function is called sync or async, it's just not imo clear.
"invoke": "sync", "invoke": "async" is imo more clear as it is now

sure, we said to make it optional, so your runtime can ignore it if it wants

[2021-12-28 20:18] tsurdilo commented on #567
Let's take a look at some examples like before/after and see what looks better, think that would give more perspective for this change to see what makes more sense or not. Can you please provide?

Also we added async stuff in 0.8 and having it removed or completely changed in 0.9 or changed is maybe a little bit too risky. If there is a situation that current dsl cannot currently define, lets add

[2021-12-29 13:40] ricardozanini commented on #567
"invoke": "sync", "invoke": "async" is imo more clear as it is now

I don't have a strong opinion about this. Either option is fine for me.

Sure I can create an example, but it's pretty straightforward. You create a callback with an event action that will only trigger the event and won't expect a response. I think what you're asking is a use case example. I'll provide one once I get back.

That w

[2021-12-29 15:02] cdavernas commented on #567
I just saw that issue now, and this is related to discussions we had in private, @tsurdilo. I think what's needed here is what I asked for, meaning an action to produce a single event, and one to consume a single event. As stated before, this has imho nothing to do with sync/async patterns, but rather with eventing.
Other solutions would imo be confusing, at best.

Wdyt?

[2021-12-29 15:37] tsurdilo commented on #567
@cdavernas @ricardozanini
Would be nice to have some example json/yaml to showcase what's being asked. Think that would clear things up for me as to what's actually requested. Maybe something like show whats currently available in 0.8 and what issue cannot be solved with it, and then the proposal on how to solve it. Thanks!!

[2022-01-05 08:05] qqeasonchen commented on #559
@tsurdilo sure, we can discuss on zoom.

[2022-01-05 14:04] ricardozanini commented on #567
Hi Tiho!

Let's keep this simple for this issue. We can further discuss other topics like the fire and forget and renaming. The `resultEventRef` being optional will cover a simple use case where I have a Callback state that needs to fire an event and **not expect a response**. Such as:

[code]

Does that make sense?

[2022-01-06 17:05] tsurdilo commented on #567
@ricardozanini
so remove resultEventRef from required props here: https://github.com/serverlessworkflow/specification/blob/main/schema/workflow.json#L583 ?
That fine. Let's go for it :)

[2022-01-07 21:15] #567 closed

[2022-01-11 03:37] qqeasonchen commented on #559
@tsurdilo @ricardozanini hey guys, shall we have a meeting schedule?

[2022-01-11 04:46] tsurdilo commented on #559
@qqeasonchen definitely, let us know what works best for you this week

[2022-01-11 09:28] qqeasonchen commented on #559
@tsurdilo how about 2022/01/13 10:00-12:00 (GMT+08:00)?

[2022-01-11 13:57] ricardozanini commented on #559
@qqeasonchen, I'm in GMT-03:00, this time for me is like midnight :( I can't. I guess you're in Asia, right? I think the most reasonable time would be the end of the day for us, the beginning of the morning for you (7~8am)?

[2022-01-12 03:03] qqeasonchen commented on #559
@ricardozanini yes, we are in Asia, and if midnight(9pm~12pm) is ok for us, time time for you would be in the morning(9am-11am), I do't know if it is suitable for you, because 7~8am is too early for us, thanks.

[2022-01-12 03:10] tsurdilo commented on #559
@qqeasonchen i am on EST time (GMT-5) but can make time you guys decide. Feel free to send us invite and let's go from there? "tsurdilovic at gmail dot com"

[2022-01-12 03:13] qqeasonchen commented on #559
sure

[2022-01-12 11:46] ricardozanini commented on #559
@qqeasonchen mine is ricardozanini at gmail dot com :)

[2022-01-12 11:53] qqeasonchen commented on #559
got it~

[2022-01-13 06:53] gvensan opened #570 "Support for other event data specifications..."
**What is the question**:

Quoting from SW specification:

“The Serverless Workflow specification mandates that all events conform to the CloudEvents specification. This is to assure consistency and portability of the events format used.”

Is there any plan of supporting other specifications for representing events & schema?

[2022-01-15 16:57] jinrongluo commented on #559
@tsurdilo  We have the design doc about EventMesh and Serverless Workflow integration, including the Spec DSL and SDK.

https://github.com/apache/incubator-eventmesh/blob/master/docs/en/features/eventmesh-workflow-design.md

Please review and provide some comments. Thanks so much.

[2022-01-15 18:21] tsurdilo commented on #559
@jinrongluo very nice! read through it and have a question (also working on a PR for your doc to do some small updates):

The online store is defined by:

      asyncapi: 2.2.0
      info:
        title: Online Store application
        version: '0.1.0'
      channels:
        store/order:
          subscribe:
            operationId: receivedStoreOrder
            message:
              name: Sto

[2022-01-15 18:28] tsurdilo commented on #559
@jinrongluo i think the pr they opened is a little bit incorrect, and that you have the asyncapi definitions right...will add comment.

[2022-01-15 19:21] jinrongluo commented on #559
Hi @tsurdilo

[code]

My reasoning of having the `operation` state as the `Start State` of the workflow is that, the workflow has to explicitly invoking `receivedStoreOrder` function in order to receive the `StoreOrder` events from the channel.

From the Spec, `event` state is assuming the event is already arrived at the workflow runtime, and the workflow reacts on it. But it didn't say which func

[2022-01-15 19:22] jinrongluo commented on #559
Thanks for bring it up. I was having the same confusing when studying AsycnAPI spec as well. :)

[2022-01-15 20:11] tsurdilo commented on #559
@jinrongluo i think you can define your workflow completely using events, see https://github.com/apache/incubator-eventmesh/pull/717

you can link to even source for events your asyncapi definition as well...this is indeed something that we need to document better, will work on it next week.

[2022-01-15 20:13] tsurdilo commented on #559
@jinrongluo here is wf image in case you want to add to docs as well:
<img width="479" alt="Screen Shot 2022-01-15 at 3 12 25 PM" src="https://user-images.githubusercontent.com/119422/149636377-7aa0d94a-b560-45cf-8e67-7700daaed9ee.png">

[2022-01-15 20:33] jinrongluo commented on #559
Thanks. I will add workflow diagram to my doc.

[2022-01-15 20:50] jinrongluo commented on #559
Thanks for the PR. This PR give us much clarity of the event related elements in the workflow spec.

I think the Spec needs to mention that, `event.soure`  not only refers to CloudEvents Source, but also AsyncAPI Operation

https://github.com/serverlessworkflow/specification/blob/main/specification.md#event-definition

[code]

[2022-01-15 20:56] tsurdilo commented on #559
@jinrongluo sure i will do that
@ricardozanini @cdavernas @antmendoza can you guys please take a look at the pr as well (the workflow definition) to make sure we are all on the same page here before I make updates to spec for it. In case of usage of asyncapi i think having also a sample for this in our samples doc would be nice . wdyt?

[2022-01-15 21:08] tsurdilo opened #573 "Rename eventRef properties to something more meaningful"
currently we can do in actions:

       actions:
          - eventRef:
            triggerEventRef: OrderServiceSendEvent
            resultEventRef: OrderServiceResultEvent

this denotes that this action needs to "send" an event X and then wait for event Y that is the invocation result event
we might want to look into renaming "triggerEventRef" and "resultEventRef" to something more meaningful su

[2022-01-15 21:09] tsurdilo opened #574 "Documentation: describe event definitions when using asyncapi better"
Need to update documentation for event definitions, especially when asyncapi is used (event-driven communication)

Also add sample that shows this off, which can be based off workflow def here: https://github.com/apache/incubator-eventmesh/pull/717

[2022-01-15 21:58] antmendoza commented on #573
agree, "produceEventRef" and "consumeEventRef" sounds better to me than trigger/result

[2022-01-15 22:01] cdavernas commented on #573
@tsurdilo @antmendoza ...especially now that you can just produce without having to consume. I therefore totally agree.

[2022-01-16 20:32] tsurdilo commented on #559
@jinrongluo can you please check and let me know if it's ok to put EventMesh (logo and text) on our website: https://serverlessworkflow.io/ (see section on bottom). Thanks.

[2022-01-16 22:48] jinrongluo commented on #559
OK I will talk to @qqeasonchen

[2022-01-17 01:10] qqeasonchen commented on #559
@tsurdilo Sure ok, Thank You, the community would happy to see that :)

[2022-01-17 01:10] qqeasonchen commented on #559
@jinrongluo Thank You for remind me.

[2022-01-17 04:02] yzhao244 commented on #559
@tsurdilo  Wow, that's great news. I can't wait to see eventmesh in serverless workflow website.
@qqeasonchen Thanks :)

[2022-01-31 17:57] tsurdilo opened #584 "Clearly define the use for top-level "key" property"
We added the top workflow-level "key" property for a specific use case where the workflow id might get "generated" by some CMS or something.
Because of this we kinda misuse it as something that identifies uniqueness of the workflow definition. In reality it's use is more on the workflow instance uniqueness level.

Request here to either remove it or clearly state what its use is/should be.

[2022-01-31 21:54] tsurdilo opened #586 "Add ability to start parallel compensation"
**What would you like to be added**:
Typically compensation is done sequentially in reverse order once its explicitly triggered.
There are use cases however where all compensation activities are not related to some ordering, but
for sake of performance can be executed in parallel.

Add ability to overwrite the "reverse order" default with ability to define you want compensation to be performed in

[2022-01-31 21:55] tsurdilo commented on #586
@cdavernas @ricardozanini @mswiderski
any issues with this?

[2022-01-31 22:00] cdavernas commented on #586
@tsurdilo nothing against the idea, which is good imo. I'm just wondering how this could be factored into the spec? As a matter of fact, I'd prefer not to have to choose between sequential or parallel compensation, but would rather prefer having the option to use both on the same pipeline. Being, do example, able to do 3 different compensation in parallel then continue compensation in a sequential

[2022-01-31 22:44] tsurdilo commented on #586
i think that will get pretty complex. as compensation is modeled in wf def and is part of control flow logic i think we can utilize parallel state as a compensation state, and have the effect you are asking for.

this request is just an all-or-nothing setting that would not affect your compensation control flow logic.
maybe we can start with that and then expand once we have some more complex use

[2022-02-01 11:04] mswiderski commented on #584
I agree that this is currently confusing in the spec but I'd like to keep it but repurpose it instead.

So `key` should not reference definition but reference instance of the workflow. So the `key` attribute would be an expression that could be evaluated upon start of the workflow based on the input of the workflow instance to assign alternative id e.g. order number, employee id etc.

That way we

[2022-02-01 11:16] mswiderski commented on #586
so will that be on the compensation triggering side or compensation handling side? I mean what part of compensation will actually define how it should work?

[2022-02-01 11:23] tsurdilo commented on #586
on trigger, something like

"compensate": true (sequential reversed)

"compensate": { "parallel": true } (parallel)

[2022-02-01 11:28] tsurdilo commented on #584
hows should that work when data for key comes from one or more events handled by starting event state? whats proposed  rule when you have both data input and are event-teiggered? is key immutable?

[2022-02-01 11:40] mswiderski commented on #584
key will be set only once upon instance creation and it is immutable, same as id is. It has exactly the same behavior as id - is set only once when new instance is created.

[2022-02-01 11:57] tsurdilo commented on #584
you mean the run/exec id, not the wf def id right?
if so its pretty hard imo to define when its set without going into runtime details as in when wf instance is created. wdyt

[2022-02-01 12:05] tsurdilo commented on #584
without looking at runtime specific instance creation could it be set on starting wf state (with special instructions for event state)? if so can state handle expression error?

[2022-02-01 12:10] mswiderski commented on #584
I don't think there is a need to go into specifics of runtime and instance creation. I think it is enough to describe that it will be set when instance is created and that part can be specific to runtime but anyway each instance needs to be started at some point. Either by incoming events, manual trigger and so on.

[2022-02-01 12:11] mswiderski commented on #584
`key` expression failures should be ignored and simply key is not set when expression fails.

[2022-02-01 12:19] mswiderski commented on #586
hmm wouldn't it cause that same logic could be triggered in different ways? Like one compensation event will be parallel and the other sequential? Just thinking out load here but I a not sure we need anything extra to what you described with parallel state. Personally I would not complicate compensation with that but rather let users model their compensation logic with parallel support explicitly.

[2022-02-01 12:43] tsurdilo commented on #586
yeah good point it would also add to possible user errors. do think that top level single time def could work. will do pr and then lets have a look if we want or not. prob not for 0.9 however

[2022-02-01 20:23] hbelmiro opened #587 "Web Editor doesn't generate the diagram for my specific workflow"
**What happened**: When I use the following workflow definition and click the button to generate the diagram, nothing happens.

[code]

**What you expected to happen**: I expected the diagram to be generated

**How to reproduce it**: Using the above json

**Anything else we need to know?**:

**Environment**:
- Specification version used: 0.8

[2022-02-01 21:21] antmendoza commented on #587
thank you! I am going to have a look

[2022-02-02 01:52] #587 closed

[2022-02-02 01:53] tsurdilo commented on #587
@antmendoza thanks bro!!!

@hbelmiro try again, Antonios prs are merged now.

[2022-02-02 02:19] hbelmiro commented on #587
It works now 🎉
Thank you @tsurdilo and @antmendoza.

[2022-02-02 02:36] tsurdilo commented on #587
@hbelmiro Antonio did all the work :)

But just fyi, you don't have to set "terminate": true on end definition in SW unless you have "keepActive" top-level prop set to true. Glad tho you did it so we could uncover the issue.

[2022-02-05 23:37] #573 closed

[2022-02-10 17:47] cdavernas opened #592 "Does the invoke attribute on eventRef still make sense?"
**What is the question**:

Does the `invoke` attribute on eventRef still make sense?

IMO, it does not. Basically, it comes down to: do you want to produce then consume an event, or just produce it. This has been resolved by making the `ConsumeEventRef` optional. I therefore do not see any more use for the `invoke` property. Am I missing something?

[2022-02-10 18:17] cdavernas opened #593 "How to consume (and process the data of) a single event?"
**What is the question**:
How to consume (and process the data of) a single event?

Sometimes, you just need to consume an event without having necessarily triggered anything (aka CallbackState), anywhere, nor having to create a whole new state for doing so (aka EventState).

As we can now atomically produce an event (aka EventRefDefinition with no `consumeEventRef` specified), shouldn't we be abl

[2022-02-11 08:02] cdavernas commented on #584
Completely agree with @mswiderski ! Implemented it already and it just rules! Great, great idea, especially for user Quality Of Life

[2022-02-27 00:59] #560 closed

[2022-02-27 00:59] #543 closed

[2022-02-28 13:40] JBBianchi opened #604 "Event Based Transitions Example - eventTimeout"
**What happened**:
It's not possible to validate the [Event Based Transitions Example](https://github.com/serverlessworkflow/specification/tree/0.8.x/examples#workflow-definition-7) with the schema v0.8: Property `eventTimeout` is not allowed.

**What you expected to happen**:
The example to be valid

**How to reproduce it**:
Take the JSON and validate it, in the [online editor](https://serverless

[2022-02-28 19:07] tsurdilo commented on #604
Thanks for reporting, yes

    "eventTimeout": "PT1H",

needs to be defined in timeouts def. Will do

[2022-03-03 17:05] EnriqueL8 opened #605 "Native support for OpenAPI Callback"
**What would you like to be added**:
The OpenAPI specification has this notion of callbacks https://swagger.io/docs/specification/callbacks/. In the context of a workflow, we are considering this as a long-running async request/response.

Currently, SW supports both OpenAPI and AsyncAPI and in the documentation, they tend to suggest using OpenAPI for any sync operations and AsyncAPI for any async

[2022-03-03 17:12] tsurdilo commented on #605
@EnriqueL8 thanks for the question!
Definitely will take a look at OpenAPI callback and see how we can integrate that into what the DSL currently provides.
As far as callback state recommendations, even tho I do agree this seems maybe more of an issue with the runtime than the DSL. We define events in CloudEvents format (using their attributes) and the spec kinda mandates that the event format sho

[2022-03-03 17:19] cdavernas commented on #605
@tsurdilo That's a tricky subject. You could argue that the logic of handling the callback is to be handled by the user's well known services, especially if the user can specifiy his own callback url (in which case the runtime has no way to notify about the callback being completed).
On another hand, you could perfectly consider the OpenAPI callback as an open-api feature the DSL should implement,

[2022-03-03 18:24] tsurdilo commented on #605
So the requested change is to add OpenApi callback functionality into SW DSL, or am i missing something else?
Not sure we can do anything about the callback state as its now as the rest of our event defs protocol agnostic.

[2022-03-03 18:27] tsurdilo commented on #605
Just to add, I would wait on this change to be added probably after 1.0 is released if possible. There is some concern with OpenAPI in general, for example they havent released anything in a long time -  https://spec.openapis.org/oas/v3.1.0
And there are some rumors that project might undergo some changes in general. So I rather focus efforts on other important things if possible for now.

[2022-03-04 11:29] JBBianchi commented on #420
Sorry for the late reply, I tend to agree with the principle with @ricardozanini but I also agree with @cdavernas remark.

Using a well established standard synthax, like the one of OpenAPI, is:
1. easy for users because it's a well known/documented standard
2. easy for the implementer because they already implemented OpenAPI

To summarize, the `Function Definition` should described the endpoint a

[2022-03-04 12:37] ricardozanini commented on #420
@JBBianchi, do you propose to copy the OpenAPI scheme? I think we all agree that we should rely on standards, so I'm happy if we embrace either JAX-RS or OpenAPI. We just have to establish the boundaries and what we support.

This should be a "lightweight" version of the standard. We recommend interacting with legacy REST endpoints that do not offer an OpenAPI spec.

To be honest, what I did in th

[2022-03-04 12:44] ricardozanini commented on #605
@tsurdilo, I agree. I think we can handle this feature on the implementation side. So it would be a regular operation that calls the "Callback" endpoint, receives the ack back, and stop the execution. It will then resume the workflow execution upon receiving the response.

It can be tricky, yes, but in my point of view can be handled on the implementation side. I'm not opposed to having a manner t

[2022-03-04 12:51] cdavernas commented on #420
That's a valid point. Generating a spec doc is quick and easy.

I'd however favour using @JBBianchi's suggestion, as yours might IMHO rebuke newcomers, force feeding them standards upon standards before they can even get to the point of a simple `wget`.

WDYT?

[2022-03-04 12:52] cdavernas commented on #605
@ricardozanini I perfectly agree with you. In the end, the proposed change can be easily implemented and handled by the runtime, without touching the spec and risking to confuse users further

[2022-03-04 12:59] ricardozanini commented on #420
I'm fine with it. We can use the metadata field to feed the operations. I can even reuse some bits of the OpenAPI generator based on that.

I'd just like to see:

1. A clear boundary of what we support based on the OpenAPI
2. Add the possibility and the ways to generate the OpenAPI spec instead of using this rest function for a more "robust" approach.

[2022-03-04 13:17] prattyushmangal commented on #605
Just a subtlety here. Any OpenAPI Callback operation invocation may lead to an immediate response from the server in terms of a HTTP Response to the initial request to register successful invocation.

But then the workflow should not resume at this immediate HTTP Response (perhaps a 201 Acknowledged). When the OpenAPI Server "Calls Back" the CallbackURL with a Request from its side, back into the

[2022-03-04 14:05] JBBianchi commented on #420
I think it's mostly verb: { parameters }, do you see anything else useful ?

[2022-03-04 19:09] ricardozanini commented on #420
I think we need to carefully take a look at the spec and handle that thoroughly. Just skimming the doc, I could see fit for:

- [Parameters](https://spec.openapis.org/oas/v3.1.0#parameter-object)
- [Request Body](https://spec.openapis.org/oas/v3.1.0#request-body-object)
- [Path Templating](https://spec.openapis.org/oas/v3.1.0#path-templating)

But yeah, I agree to use an amalgam of the OpenAPI spe

[2022-03-07 08:05] JBBianchi commented on #420
@tsurdilo does it make sense for you?

[2022-03-07 11:15] blackthunder0812 opened #606 "Specify eventDataFilter for each event in eventRef in Event State"
In event state, when we specify multiple events in `eventRef`, especially when `exclusive` set to `false`, how do we specify `eventDataFilter` for each event received?

Example:
[code]

[2022-03-13 15:53] tsurdilo commented on #606
Yeah this is very valid point. We are atm simplifying the event state for 0.9. Just need a little more time to finish it.

[2022-03-13 15:56] tsurdilo commented on #605
Imo these discussions are great to have but kinda show the complexity of using OpenApi for async to begin with :)

[2022-03-26 01:01] #498 closed

[2022-03-26 01:01] #488 closed

[2022-03-26 01:01] #486 closed

[2022-03-26 01:01] #475 closed

[2022-03-26 01:01] #455 closed

[2022-03-26 01:01] #397 closed

[2022-03-26 01:01] #358 closed

[2022-03-29 15:10] cdavernas commented on #324
@tsurdilo Should this be re-opened?

[2022-03-31 15:35] EnriqueL8 opened #611 "Support for output data schema"
**What would you like to be added**:
Currently when defining a new workflow one can specify `dataInputSchema` which we can use to validate the input. Yet a user starting a workflow instance does not know what the output of this workflow is. What is the expected to get when the workflow finishes? This is primarily useful for HTTP requests.

I propose in the same we have `dataInputSchema` to have a

[2022-03-31 15:40] cdavernas commented on #611
@EnriqueL8 This is a good suggestion IMO. However, we should decide if that's for informational purpose only or not.
As a matter of fact, such a schema could be used to verify that the output of a workflow instance matches what's expected just before a successfull completion.

[2022-03-31 15:43] EnriqueL8 commented on #611
Good point, I hadn't thought of it as a validation step but now that you say it it does feel natural for it to be.

[2022-03-31 16:21] EnriqueL8 opened #612 "Authentication for REST requests"
**What would you like to be added**:
At the moment there is no notion of authentication within the spec when using a `rest` state. Let's assume we have a function such as
[code]

The OpenAPI file might contain a [security scheme](https://swagger.io/docs/specification/authentication/) such as Bearer Token. So how do I describe in my SW that I need to provide a bearer token for this request? One of

[2022-03-31 16:25] cdavernas commented on #612
@EnriqueL8 you can use the top level `auth` property. It currently supports basic, oauth2 and bearer. I'd recommend using a secret-based OAuth2 auth definition so that you do not expose any sensitive info in your flow.

[2022-03-31 16:31] EnriqueL8 commented on #612
As far as I understood, the `authRef` is used to access the resource containing the function invocation information but not  for authentication information at function invocation

[2022-03-31 16:39] cdavernas commented on #612
The `authRef` is used to reference an authentication mechanism declared at top level. The referenced scheme and its properties should be implemented and handled by the runtime when calling the function.
For example, if you referenced a basic auth definition, the runtime should, when calling an OpenApi function, add the appropriate Authorization header with the specified username and password.
Does

[2022-03-31 17:05] cdavernas commented on #612
Well, but if you don't have an intermediate human task or a mechanism of the like, what would be the difference between pre-defining the username/password in an `authDef` or directly within the function?
You don't necessarily have to use a secret btw, you very well could do something like the following:

[code]

I would, however, advise against using such a scheme (basic or bearer), and would rath

[2022-03-31 17:21] EnriqueL8 commented on #612
Yeah, OAuth is what @ricardozanini had suggested to me but instead of the client_id and api keys behind defined in the workflow they are passed through at invocation of the whole workflow.

So when the user wants to start the workflow they pass those credentials and then runtime looking at somewhere in the spec can correlate those to right function. Multiple users can use the same workflow but wit

[2022-03-31 18:07] ricardozanini commented on #612
@cdavernas, the use case is an impersonation pattern for OAuth2, which means that the workflow will impersonate the user to make a call on their behalf. Of course, the SW must have a `client_id` and `secret` defined to generate the given token.

But the use case here, I believe, is to pass someway the user calling the flow to the OAuth2 process during runtime. It could be a header in the data payl

[2022-03-31 18:15] cdavernas commented on #612
@ricardozanini Ah, I missed that paragraph, which I did not write btw, though I did the auth PR. I always had in mind auth for both declaring doc and function invocation.
+1000 too to fix that misleading paragraph.

[2022-03-31 18:22] fjtirado commented on #611
I vote for same functionality than dataInputSchema, thats it, by default the output is validated againts the output shema if present

[2022-03-31 18:28] ricardozanini commented on #612
@cdavernas, I'm sending a PR.

[2022-03-31 20:04] tsurdilo commented on #611
A JSON result (state data output of last workflow state) or a failure (thats dependent on the runtime).

If you are exposing workflows from rest endpoint, think you could describe your workflow using OpenAPI which does include response schema. Similarly for event-triggered workflow you can use AsyncApi.

Trying to figure out what's the purpose of this request as if we add this it can go pretty dee

[2022-03-31 20:08] fjtirado commented on #612
I would actually create two different structures, one called authInfo, that contains the authorization information (client id and client secret for oauth2 client credential grant type, api key and api prefix for api, user and password for basic, token for bearer..  and authDef, that will contain the  metadata information (token,  refreshURL and grant type for oauth2, paramName and location for api

[2022-03-31 20:18] fjtirado commented on #611
@tsurdilo I agree with your concerns, but for these use cases, you just avoid specifying an output schema. I mean, the same than inputSchema, the new field will be optional.

[2022-03-31 20:33] cdavernas commented on #612
@fjtirado I disagree. You are only retaining the OpenApi use case, but auth can be applied to GRPC, basic rest, AsyncApi (which has a basic auth definition too), OData and GraphQL. Relying solely on OpenApi spec is IMO gonna make those useless when secured, simply because those protocols do not describe (or describe poorly) auth.
Relying in on single auth is imho both practical, intuitive and easy

[2022-04-01 10:09] fjtirado commented on #612
I forgot to mention than for gRPC or other function types different than OpenAPi, we will need an authDef. So, Im basically proposing to have four additional optional fields, which are specified as needed. If you want to protect both the spec file (gRPC, OpenApi...) and the function calls done thorugh this spec file, you will have as most 4 fields specified (three for OpenAPI)
Another option is to

[2022-04-01 12:15] ricardozanini commented on #612
@cdavernas @tsurdilo what do you think about @fjtirado proposal? I will open a PR with the suggested changes, let me know if you have any comments.

[2022-04-04 13:42] fjtirado commented on #612
Just an example of what I have in mind (using one structure for credentials and def)

Lets say we are calling an openapi service which definition file can be retrieved using basic authorizaton and which definition define oauth2 to actually invoke the service

we will have
[code]
and then
{
[code]
The rest of information for performing the oath2 call will be on the open api definition. Now lets ass

[2022-04-04 15:07] fjtirado commented on #612
@ricardozanini  we are also also differentiating between properties and credentials, inside the auth definition (but yes, this is essentially the same as having all properties in the same level and optionally filling them)

[2022-04-04 15:19] cdavernas commented on #612
@fjtirado Thanks, I think it's a great idea, overall.
I have, however, the following comments:
- I would not split the `properties` into two properties, as I think it's not required and would certainly be confusing to new users of the spec.
- I would propose to find a way to allow user specifying the `authRef` only once, if the same is used for both resource access and function invocation
Here's w

[2022-04-04 15:27] fjtirado commented on #612
@cdavernas
I liked the approach, but I think `auth: My ApiKey Auth `should only apply to function call (yes, I know, thats the opposite of what the spec is saying now, but it is probably the most typical case)
Having credentials separated from properties clearly differentiate between fixed information (king of strucuture) and the credentials, but I think is a minor detail in any case (having all o

[2022-04-04 15:39] cdavernas commented on #612
It's only my opinion, but I think setting the `auth` value using a string should apply to both resource and function invocation, considering that the most reliable usage of OpenAPI is code-first generation, in which case the documentation is hosted by the app it describes (which, btw, was the original purpose of the Swagger spec)

Yes, I see what you mean, and it does make sense. I'll, however, st

[2022-04-04 16:27] fjtirado commented on #612
The problem with auth applying to both is that Im not sure if is very frequent to use the same auth scheme for the resource and the call. If that is the case, lets go for it.

[2022-04-04 18:44] ricardozanini commented on #612
I think it's impossible to know. My only concern is this:

[code]

Same resource, how do I describe it? Twice? If only one is defined, should I consider the one with or without?

Maybe the original proposal was to define a auth definition for the function invocation, not the resource. The resource should be unique.

In this case, if we proceed the way we settle here (`auth: { invocation: {}, resou

[2022-04-13 16:44] VicNgu opened #616 "Missing/Broken links for extension context attributes"
**What happened**:
The hyperlink for [extension context attributes](https://github.com/cloudevents/spec/blob/master/spec.md#extension-context-attributes) is broken throughout the spec.

**What you expected to happen**:
The hyperlink to work. Looks like there is no section for these details in the spec.

**How to reproduce it**:
Click on any of the hyperlinks for extension context attributes.

**An

[2022-04-13 17:29] ricardozanini commented on #616
Hi @VicNgu! Thanks for reporting it, I'll send a PR to fix it.

[2022-04-14 03:22] qqeasonchen commented on #559
Hi,
Do anybody know that the direktiv[1] follow serverlessworkflow spec or not now？

[1]https://github.com/direktiv/direktiv

[2022-04-14 03:52] tsurdilo commented on #559
@qqeasonchen

No, they decided to go their own way and copy our spec and develop it on their own terms.
Direktiv is **not** part of our project and is not a CNCF project.

[2022-04-14 10:52] cdavernas commented on #559
@tsurdilo @qqeasonchen

To add to what you said: they couldn't even copy it properly. Their "spec" is dirty and includes a lot of technical, implementation-related nonsense (pod settings and the like). Now I just hope that project fades and dies as fast as it came to life.

[2022-04-14 19:39] #616 closed

[2022-04-15 16:22] cdavernas opened #619 "Add support for a new 'process' action type"
**What would you like to be added**:

Add support for a 'process' action type, which would allow users to actually run simple shell/bash commands

**Why is this needed**:

In some case, users might have no other choice than to run bash commands, for example to install a self-signed certificate in a worker's isolated computing unit.

[2022-04-15 16:23] cdavernas commented on #619
@tsurdilo @ricardozanini What do you guys think? If I've your green light, I'll work ASAP on a PR to address that ;)

[2022-04-17 01:14] #592 closed

[2022-04-18 01:23] #593 closed

[2022-04-18 01:23] #584 closed

[2022-04-19 18:06] cdavernas commented on #619
+100, I totally agree. Security implications are however minimal in a Docker context, for example.

No, absolutely not! If I ever do, please shoot me out of my misery 😆 I just had a couple of real-life scenario where such this would have saved the team from developing a dedicated FaaS.

But yeah, it's probably a very bad idea nonetheless, mainly for cross-platform concerns. As a matter of fact, mo

[2022-04-19 21:02] cdavernas commented on #619
@tsurdilo WDYT?

[2022-04-19 21:26] tsurdilo commented on #619
@cdavernas i kinda like what Argo is doing: https://github.com/argoproj/argo-workflows/blob/master/examples/scripts-bash.yaml#L29

[2022-04-19 21:28] cdavernas commented on #619
Yeah looks nice!

Are you proposing to use the image part of it, too?

[2022-04-19 21:28] tsurdilo commented on #619
@cdavernas the question is, where is this command going to run?

[2022-04-19 21:41] cdavernas commented on #619
Well, imo should run in something containerized, so we can address both the security and cross compatibility concerns at once. In that case, 'process' could be understood as 'container' execution result. I'm not sure, though, if that's not putting too much weight on implementations, as well as make the spec a bit too technical.
However, I defintly can imagine something of the like:
[code]

And cal

[2022-04-19 22:20] yzhao244 opened #621 "Handle Disaster recovery in SW spec"
**What would you like to be added**:
The use case and some details were discussed with @tsurdilo and @ricardozanini in the following discussion
https://github.com/serverlessworkflow/specification/discussions/610

@tsurdilo Your understanding is totally correct. The "weights" are just the order of actions you put in the operation state "actions" array.
@ricardozanini I can look for some DR pattern

[2022-04-27 19:45] ricardozanini opened #624 "[Proposal] Make dataInputSchema value with URI reference only"
**What would you like to be added**:

This proposal is to remove the possibility of having the `dataInputSchema` attribute in the workflow definition be a JSON Object. Instead, the `dataInputSchema` would be a URI only.

**Why is this needed**:

The reasoning behind this is to follow a pattern we already have in place for references on other standards like OpenAPI, gRPC, oData, Async, etc. Every t

[2022-04-27 19:53] cdavernas commented on #624
@ricardozanini I totally disagree on that proposal. I actually created the PR to use an object.

Not to speak about why I think external references should almost always be avoided, I think we can't and shouldn't restrict uses. Furthermore, not allowing the yes of the object would make the definition tightly coupled to an externally referenced file: kill the endpoint that hosts the schema, and you

[2022-04-27 20:53] tsurdilo commented on #624
Currently its string or object type, so it would cover both. I think validation of workflow data input is very tied to the definition itself so its based on business requirements and not standards so defining it inline with the definition is ok imo.
Also having it inside the definition itself could help not having to do file lookups to define swagger-like docs from the definition too, wdyt?

Anoth

[2022-04-28 13:59] ricardozanini commented on #624
[It's not, that's the point](https://github.com/serverlessworkflow/specification/blob/main/schema/functions.json#L37-L40). It's always a String for a URI (openapi, async, graphql, etc.). All of them are external references. Or am I missing something? Adding an OpenAPI Spec in a function's  `operation` attribute is a no-go IMO. Where is the other place we can define gRPC, OpenAPI, and other standar

[2022-04-28 14:17] cdavernas commented on #624
You are speaking of the only exception that does not apply here, which are function definitions's `operation` property.
It does notes not apply becaus apply because it's not a top-level property, unlike `actions`, `retries`, etc., which ALL allow using external reference or inline object.

No, not for top-level property. Again, the remark only applies to function definitions's `operation` property

[2022-04-28 15:01] ricardozanini commented on #624
No, it's to make it more cohesive. I'll read carefully the other comments and answer later.

[2022-04-28 15:09] fjtirado commented on #624
I want to remark this is not an implementation issue at all, but an aesthetic one (although the Java SDK is not currently working with inline json schema, that will need to be fixed if we want to keep it in the spec).
I do not think a embedded Json Schema Input looks great in a yaml file. You can express an object in a yaml, but I think it will be pretty complex to render non trivial json input sc

[2022-04-28 15:18] cdavernas commented on #624
I strongly disagree, but that's a matter of taste and colors.

Let's just say that's the path that Kubernetes chose to take, to only name that software: inline json schema. Inline because, as explained before, immutable ^^ To begin with, K8s did not even support external jsonSchema definitions!

@fjtirado Not assuming, enforcing! We do not assume anything, that's actually the opposite: we enforce

[2022-04-28 15:22] fjtirado commented on #624
@cdavernas It might be possible than build environment is not equal to runtime environemnt. It is possible that a user might want to change constants values by changing an external file located in a well know place, for example
But I do not really want to discuss that, my point is that there is certain lack of coherence in allowing inlining of one standard (json input schema) not ready for YAML (a

[2022-04-28 15:35] tsurdilo commented on #624
Again i think we are putting two different things into the same bucket for some reason.
Having the ability to have different function definitions on testing env and prod evn is quite useful.

To me defining the structure and required fields of your workflow data the same thing as defining the workflow definition itself, part of users business logic. As such I don't think this should differ between

[2022-04-28 15:36] fjtirado commented on #624
Well, we can introduce a top level property to keep the open api definitions inlined, for example.
I want to clarify Im not proposing that, Im just mentioning that if we allow inlining of an standard, user might ask to inlime more thing that we are currently not allowing to do so, Thats the issue

[2022-04-28 15:40] fjtirado commented on #624
@tsurdilo ok, see your point and is a valid one. But we need to clarify that in a note somewhere.

[2022-04-28 15:44] tsurdilo commented on #624
Yes similar to expression languages inside workflow definition. They could also be considered a "standard" but for to be able to define business logic inside workflow definition we use them.

[2022-04-28 16:26] JBBianchi commented on #624
The argument "no inline definition because operations are URI" doesn't really make sense:
1. because operations have that weakness. If a rest endpoint is not openapi documented, it cannot be used, thus the issue #420 in which we kind of [agreed](https://github.com/serverlessworkflow/specification/issues/420#issuecomment-1059440330) on using a subset of OpenAPI "inline".
2. because there is no rela

[2022-04-28 16:33] fjtirado commented on #624
@JBBianchi
Nobody says is against inlining because operations are URIs
I was just pointing out that json input schema is the only standard we are inlining in the secped and that it does not look good when a large one is used into  a yaml file. These are two valid points (one objetive, another subjective)
I will fix the SDK to be aligned with spec (The Java SDK fails to parse the document when usin

[2022-04-28 16:48] fjtirado commented on #624
Hmmm, that Im not sure that will be true. Actually, one strong argument for not inlining  by default is that it will encourage reuse of schemas. I can certainly see the same object being used in a lot of different flows (employee data, arrays of numbers...)

[2022-04-28 19:05] ricardozanini commented on #624
JSON Schema's `$ref` inside an inline workflow definition will be awkward, IMO.

I can see the reasoning of "let's inline, the data structure definition for this workflow is clear." This is fine.

The problem is this mixture of standards in the workflow definition. But, again, from an implementation pov, it doesn't matter. We can assume the `ref` is in the same or any other path as specified there

[2022-04-28 20:01] JBBianchi commented on #624
Just saying inline is fine, URI is fine, both should be supported.

As for `$ref`, it's just that I kind of agree with @fjtirado in the sense where common entities' schemas will probably be used and, therefore, accessing URI/external files makes sense. So, you could have `"dataInputSchema": "somewhere/employee.json"`, that is a valid idea. But, I'm also thinking that each workflow will probably st

[2022-05-09 00:13] #574 closed

[2022-05-09 00:13] #570 closed

[2022-05-13 13:22] radtriste opened #630 "Specification and Using multiple Data filters section: Error in Workflow definition ?"
https://github.com/serverlessworkflow/specification/blob/v0.8/specification.md#using-multiple-data-filters (same on `main`)

Event action is calling greeint function:
[code]

We have the action data filter using the `"fromStateData": "${ .hello }",`
which means the data for the action is
[code]

How is that possible that we use the `customerInfo` data into the function arguments, whereas, AFAIU, i

[2022-05-16 18:35] ricardozanini commented on #630
Yeah, it sounds like a bug. In the writing, it is stated:

And the action arguments are expecting `customerInfo` property. So it should be corrected as:

[code]

_additional brackets added for GH formmating_

[2022-05-16 18:58] radtriste commented on #630
I will provide a PR then for the fix

I saw also some other small issues in the doc that I will correct in the same PR, if you are ok with that>

[2022-05-16 20:29] tsurdilo commented on #630
@radtriste @ricardozanini

        "fromStateData":"${ { hello, customer } }",

would be the same this as the state data after the state filter is applied so think just remove fromStateData in the action filter
is better in this case

Also
       "customerName": "${ .customerInfo.name } "

should be

        ${ .customer.name }

[2022-05-16 20:37] tsurdilo commented on #624
Can we mark this as resolved or is there a need for further discussions? Please let me know.

[2022-05-17 08:33] fjtirado commented on #624
@tsurdilo discussion is resolved ;). Spec will support both reference and inline

[2022-05-19 00:14] #606 closed, assigned to tsurdilo

[2022-05-24 00:15] #586 closed

[2022-05-24 17:54] ricardozanini commented on #630
@tsurdilo

Not necessarily. I think the filter example is fine, and the `fromStateData` action filter segregates the language from the `hello` attribute. It's not the most complex and smart example but it will do. :)

[2022-05-25 16:21] christiansicari opened #634 "How to represent a parallel state with indipendent state for each contained branch?"
Like in figure
![image](https://user-images.githubusercontent.com/29756552/170310610-a2c2c63e-8337-4424-b7c8-8b0f5a7844fc.png)
I would like to start F1 and F2 in parallel
then:

- start F3 when F1 and F2 have both terminated
- start F4 when F2 terminated
- Start F5 when F1 terminated

If I collect F1 and F2 as branches of a single parallel state I am not to react when only of the function terminat

[2022-05-27 11:06] MarianMacik opened #635 "autoRetries behaviour of errors"
**What is the question**:
While reading the spec I noticed an inconsistency when it comes to retryable and nonRetryable errors:

- With `autoRetries` set to `false`

So this means that if the error is in the retryableErrors array, it is retried and if the limit is reached, it is handled in the onErrors definition (compensation/end/whatever). Other errors (not specified in the retryableErrors array

[2022-05-27 12:20] cdavernas commented on #635
@MarianMacik I'm not a big fan of the retry spec as it is, and it should imo be refactored at least partially, which i imagine will occur once errors have been remodeled in the spec for 0.9. Right @tsurdilo?

[2022-05-27 16:00] tsurdilo commented on #635
@MarianMacik if possible let's try to ask questions in our discussions board: https://github.com/serverlessworkflow/specification/discussions. imo its easier to answer questions there.

I think the only issue here is is wording of sentence:

"If an unknown (unchecked) error happens during action execution, this cannot be handled either in the states onErrors definition, in which case workflow exec

[2022-06-01 14:28] ricardozanini commented on #634
@christiansicari, this is just a rough idea from the top of my head. Please take it with a grain of salt.

To make it simple, I'd go with subflows and reuse the output of the parallel processing later in F3.

So F1->F5, subflow 1 (SB1); and F2->F4, subflow 2 (SB2).

The trick here, is to preserve the data from F1 and F2 output in the end, so you could use it in F3. The main flow might be something

[2022-06-03 14:31] MarianMacik commented on #635
@tsurdilo Then it is perfectly fine now. Thanks for explanation. Should I open a PR just to make it more understandable?

[2022-06-03 14:48] christiansicari commented on #634
Thank you guys for the replies. I am sorry if I make a mistake with the sections.
I am not an expert on this DSL, so I have a question that could be stupid: using this approach I think F3 needs to wait for the SB1 and SB2, creating a delay that should not exist.
The second question is a kind of "Discussion at the Bar", Don't you think this kind of workflow should be easier to define with the DSL?

[2022-06-03 17:10] ricardozanini commented on #634
Just to illustrate what @tsurdilo just said:

[code]

I recommended using subflows to give you more flexibility. So you could use callbacks or any other constructs. Within the branches is also possible to achieve that, but you will be limited to function or event calls.

[2022-06-03 17:23] tsurdilo commented on #635
@MarianMacik sure, if you have time. Thanks!

[2022-06-06 12:42] MarianMacik commented on #635
PR created: https://github.com/serverlessworkflow/specification/pull/637

[2022-06-20 00:13] #559 closed

[2022-06-20 14:55] cdavernas opened #642 "Reinstate weekly calls"
**What would you like to be added**:

Weekly calls to be reinstated, on a platform we control (as opposed to the SW's Zoom, which's access apparently got lost)

**Why is this needed**:

- Discuss upcoming features
- Vote on conflictual PRs
- Vote on budget assignment
- Promote implementations
- ...

[2022-06-20 15:13] ricardozanini commented on #642
+1

[2022-06-20 15:54] antmendoza commented on #642
+1

Honestly, I feel more disconnected/less motivated since we don't do the calls. It is okay for me whether it is every week, every two weeks, or whatever.

[2022-06-23 08:36] #630 closed

[2022-06-23 15:16] JBBianchi commented on #420
Any suggestion to move foward on this ? I think will all agree.

@ricardozanini any additional remarks? @tsurdilo what's your take ?

[2022-06-23 15:35] ricardozanini commented on #420
My only remark is to try to use the OpenAPI spec whenever possible, maybe even importing their spec. So we won't reinvent the wheel. Mainly the paths/operation (https://spec.openapis.org/oas/v3.1.0#paths-object) part.

[2022-06-23 15:44] cdavernas commented on #420
@ricardozanini I propose not to support `RequestBody`, because it is recommended not to void using it:

I would therefore propose that the `operation` value should be, as you proposed, a [Path Templating](https://spec.openapis.org/oas/v3.1.0#path-templating) value.

We then only need two fields: one for the method to use, and another for the [parameters](https://spec.openapis.org/oas/v3.1.0#parame

[2022-06-23 15:48] ricardozanini commented on #420
Agreed with `RequestBody`. I also agree that `metadata` is too over. But adding parameters in the def's top-level will carry it over to other function types. Won't bring unalignment with different types?

[2022-06-23 15:50] cdavernas commented on #420
We could change the `functionDef` object to be a discriminated type (oneOf). Only with `type=rest` should those properties be included.

Anyways, where would you put those properties?

[2022-06-23 15:56] ricardozanini commented on #420
Yes, I agree that's difficult. But it's a necessary evil I think.

Honestly, we should get turn the `type` an optional attribute. The `operation` already can give us the necessary pointers about the operation itself.

And I think `paramDef` and `method` could be reused for others. I can see a custom script function using it, for instance. Let's go!

[2022-06-23 16:09] cdavernas opened #644 "Update governance model"
**What would you like to be added**:

Update/define the governance model by defining some kind of community, vote-based decision making on breaking changes/issues deemed "controversial".

Create a new tag, such as `Up to vote` and/or `Controversial` to mark issues requiring debate/vote on a meeting call

**Why is this needed**:

Ensure that breaking and/or controversial changes are backed up by bo

[2022-06-24 00:14] #619 closed

[2022-06-24 00:54] tsurdilo commented on #642
Not sure why we need an issue for this but ok :) yes +100.

[2022-06-24 06:41] #612 closed

[2022-06-24 08:37] cdavernas commented on #642
@tsurdilo I opened an issue to keep track of required changes (on the website and all), fearing that we'd let it slide otherwise ;)

[2022-06-25 18:04] tsurdilo commented on #420
Im personally not a big fan of functiondef-> metadata->post->parameters, think this can be done in a better way, lets discuss.
Do like the functionRef->arguments as that fits well with what we currently have

[2022-06-25 18:09] tsurdilo commented on #420
@cdavernas
question about:

                     "operation":"https://petstore.swagger.io/pet/{petId}",
                      ...
                     "name":"petId",
                     "in":"path",
                     "description":"ID of pet that needs to be updated",
                     "required":true,
                     "type":"integer",
                     "format":"int64"

is it assu

[2022-06-25 18:17] cdavernas commented on #420
No, that is part of the definition of the call, not the args it is called with. In other words, what you see in the def is an OpenApi function definition.

[2022-06-25 18:20] cdavernas commented on #420
It cannot be as you suggest, as parameters can be put in headers, path, body, cookies, etc. So you need a most exhaustive description of all parameters.

As for the `required` property, it's part of the OpenApi function definition. It indicates that the arg MUST be supplied in the function ref

[2022-06-25 18:45] tsurdilo commented on #420
ok. this then seems like a ton of effort to please legacy systems. why not start with basic rest capability then improve if there is request? i would be ok with basic spec support that csn be extended via extensions

[2022-06-25 18:46] tsurdilo commented on #420
for legacy its not possible to wrap/describe their apis via openapi?

[2022-06-25 18:52] cdavernas commented on #420
It's not a lot of efforts imho, it's just a matter of referencing OpenApi

[2022-06-25 18:55] tsurdilo commented on #420
ok. im just trying to figure this out cause it seems we are going to start to look like google cloud workflow by constantly having to update this rest spec unless we copy all of openapi over. this prob not best idea??

[2022-06-25 18:56] cdavernas commented on #420
It's just not doable in a lot of use cases, where you cannot include local files and do not want to host that doc just yo do a couple of rest calls

[2022-06-25 18:56] tsurdilo commented on #420
got it. ok then for me this looks like perfect candidate for an extensions. not part of core spec

[2022-06-25 18:57] cdavernas commented on #420
Copying just the OpenApi dpec's parameter fragment is imo not a deal breaker, plus we could just decide to not update it, as long as it covers most legacy use cases (which current version actually does)

[2022-06-25 18:58] cdavernas commented on #420
Mayne. Wdyt @ricardozanini ?

[2022-06-25 18:59] tsurdilo commented on #420
each runtime can provide even own extension point for this that would be tailored to rhe rest functionality they can provide. i think for sanity of spec we ahouls so this as this looks very custom and so far we have dodged doing cutom stuff thankfully

[2022-06-25 19:18] tsurdilo commented on #644
Great idea and def something that we need to come up with and try to enforce.

[2022-06-25 19:18] tsurdilo commented on #642
I get the hint :) Working on it now

[2022-06-25 19:44] cdavernas commented on #420
Whatever we choose to proceed with, imho we anyways need to rename rest function kind into openapi, which is what it is

[2022-06-26 03:34] tsurdilo commented on #642
https://github.com/serverlessworkflow/specification#weekly-meetings

[2022-06-26 03:34] #642 closed

[2022-06-26 03:35] tsurdilo commented on #634
will close this issue for now, please feel free to open a new one or start a discussion if you have any further questions

[2022-06-26 03:35] #634 closed

[2022-06-27 09:22] JBBianchi commented on #420
I agree with the last comment, and same goes for `rpc` that should be renamed as `grpc` imo.

[2022-06-27 15:15] ricardozanini commented on #420
I think we can work on an extension, yes. We can do this in four hands and have the project host the extension. So implementations can optionally support and implement it.

I was a little worried about adding more attributes to the functions def, I should say. I think that extensions could be an in-between option to go.

[2022-06-27 15:19] ricardozanini commented on #420
About renaming, I agree.

I think it was @tsurdilo that mentioned the other way to transform the `type` into a string. And that could be an optional parameter. Or even incorporate it into the operation itself (e.g. "openapi:myfile.yaml" or "openapi:http://specs.com?id=1", etc.).

Also, limiting the functions in the spec would be a better way to go, IMO. I'd limit the rest to extensions (odata, asy

[2022-06-27 16:22] ricardozanini commented on #420
Guys, as we discussed today, I will open a PR to describe the REST invocation within the operation attribute like `post:/path/to/endpoint/{arg1}?id={arg2}`. If the argument is not there in the state, everything is sent within the request body.

[2022-06-27 22:21] tsurdilo commented on #420
with dal think always "the sinpler the better". :)

[2022-06-27 22:24] tsurdilo commented on #420
also method should be optional. in not specified should default to post to make it easier on users

[2022-06-28 06:45] cdavernas commented on #420
@tsurdilo shouldn't it be GET by default instead, as it usually is?

[2022-06-28 18:44] ricardozanini commented on #420
I think we can later discuss turning the `operation` field into a valid URI (this way we could use the scheme to define the operation type, for instance: `rest:get:/path/{arg1}?param1={arg2}`). But that's a discussion for yet another forum.

[2022-06-28 18:46] ricardozanini commented on #420
There are no hard-coded URLs, but a description of the **path**, not the URL.

Let's discuss this in the PR. I've changed to OPERATION#METHOD approach. For example:

[code]

[2022-07-01 17:21] cdavernas opened #648 "Add path templating support"
**What would you like to be added**:

The ability to render path templates upon functions execution

**Why is this needed**:

So far we have no clean, out-of-box way to make calls to functions which's host name has been defined dynamically.

It is required in cases where you need to make a call to a specific instance of a service, which's url has been returned by a previous call.

Hypothetic examp

[2022-07-04 12:57] ricardozanini commented on #648
So in runtime, you will invoke a service that you don't know where it's in design time? And this data will come from the execution of another state?

So the data schema to call the `send-email` service is a supposition from the user designing the workflow?

I can see a few use cases of this, but I'm on the fence. I'll try to think more about this proposal and how I would solve it from the infra pe

[2022-07-04 15:10] fjtirado commented on #648
I think it will be better to introduce a URI reference construct in the spec and there, rather than using all type of expressions, be able to specify the values of URIS from a properties reserved word which are not mutable at runtime (similar to already existing $SECRET)
For example
"uris" : {  "uriAlias1" : "http:://localhost/blabla", "uriAlias2": {"scheme": "https", host" : "$PROPS.<propName>",

[2022-07-04 15:19] fjtirado commented on #648
you can argue, accepting the $PROPS reserved word to narrow down possible values to parsing time, that this should be supported

[code]
Ths issue in my opinion is that the only part of the URI that should be actually properties are the host and the port, and I think it is more clear to specify that in a separate URI construct.

[2022-07-04 15:28] fjtirado commented on #648
I would say that a variable spec location case does not really fit in the workflow spec target use case set. I think it is a fair assumption that the spec details are known by the writer of the flow, therefore invoking an unknown spec does not really fit well
In the email example, you are implicitly assuming than the spec to be returned by the dynamically returned host accepts `to`, `subject` and

[2022-07-05 16:21] antmendoza commented on #648
It makes more sense to me the @fjtirado 's approach. I think that having environment variables will make "the developer's life easier"

Could not be this also archived by storing the functions spec as a separate file?

[code]
So `confirmationapi.json` could be different in any environment.

Anyway, I suppose that we will have to support PROPS / ENVS as well, in the same way the spec does with SECR

[2022-07-22 00:17] #621 closed

[2022-08-22 17:25] Josephblt opened #662 "Book Lending Example is missing a state."
https://github.com/serverlessworkflow/specification/tree/main/examples#workflow-diagram-23

**What seems off**:
The Book Lending Example JSON/YAML definitions are missing the Cancel Request state shown in the diagram.

**What you expected to be**:
The state is declared in the definitions.

[2022-08-31 06:06] brlala opened #666 "How to achieve a while loop and reduce the certain state for each iteration?"
What is a good approach for a while loop implementation using serverless workflow specs? Giving a simplified example, we have a list of book title in the state data and list of libraries database. We want to search through the list of books in each libraries until all books are found(early termination) or all libraries are exhausted.
[code]
The current pseudocode I have is as follow but requires t

[2022-08-31 06:59] brlala commented on #666
A workaround that we think of is having a statedata that contains a wrapper to a list of objects, not sure if this is intended
[code]
this way it will do a replace instead of merging

[2022-08-31 13:59] tsurdilo commented on #662
pr merged

[2022-08-31 13:59] #662 closed

[2022-08-31 14:20] ricardozanini commented on #666
Hi! How do you plan to implement the `searchLibrary` function? You will pass all the books in the array, and it will return the books they have?

What I would do:

1. For each library
2. callSearchLibrary, pass `books`
3. Add the books found in a new structure `{ booksSearch: [ "library": "Japan", "books":  [ "BookA"] ]}`
4. Apply `jq` operation to remove from `books` the books returned by the`cal

[2022-09-04 12:16] brlala commented on #666
Thanks this is exactly what I'm looking for, how do we do a jq operation to remove books(instead of it merging?), if my understanding of the specs is correct, we can remove the books from the return by the `callSearchLibrary` function, but it will eventually be merged into the state hence concatenating instead of replacing it.

[2022-09-04 12:32] brlala commented on #666
The flow is that we will go through each library and search for the books, with the possible few scenarios, assuming there's two item in `books` and `libraries`:
1. All 2 books are found in the first library, reaches the switch statement(check if length of `books` or `libraries` are 0) and terminates the flow
2. 1 book is found in the first library, the flow does some cleanup logic, reaches the sw

[2022-09-07 07:53] fjtirado opened #668 "Auth definition being able to use $SECRET to avoid hardcoded passwords in file"
**What would you like to be added**:

In Auth Definition section, explicitly mention that users, rather than hardcode the password string, can use $SECRET (afaik, $SECRET usage is restricted to expressions)

**Why is this needed**:
To avoid hardcoding  passwords, either in the workflow file or the json/yaml file, referenced from the workflow file, containing auth definitions.

[2022-09-07 09:09] cdavernas commented on #668
@fjtirado You can already do that, actually, by settings the `properties` of an `authDef` to the secret name.

So, instead of doing:

[code]

You can do:

[code]

[2022-09-07 09:57] fjtirado commented on #668
@cdavernas
Just for verifying we have the same understanding
Which will be the content of mybasicauthsecret.yaml?

[2022-09-07 09:59] cdavernas commented on #668
@fjtirado It is expected to match 1:1 on the chosen scheme's properties:

[code]

[2022-09-07 10:02] fjtirado commented on #668
@fjtirado
Ok, the problem is that, even with the reference file, the password will still be visible, so the implementation of the spec needs to support $SECRET replacement also there. This is not 100% clear (I mean is currently open to intepretation)
Anyway, we both agree it should be supported ;)

[2022-09-07 10:40] cdavernas commented on #668
I'm not sure I understand. It won't be visible in the definition, as the secret file will be mounted by the runtime. You can review the content of the secret file if you have access to it, but not through the workflow.

[2022-09-07 11:30] fjtirado commented on #668
@cdavernas
The reference yaml file will still have the password visible. I agree it wont be visible anymore in the flow, of course ;)

[2022-09-07 11:52] tsurdilo commented on #668
dont think sw mandates it to be a json file its uri that in end can point to a secrets/token provider service of your choice. its as mentioned up to runtime to dowhat it wants.

[2022-09-07 12:06] fjtirado commented on #668
ok, focusing on the inline approach, what about explicitly establishing the $SECRET is supported for auth
Right now, we have
_Secrets can be used only in [Workflow expressions](https://github.com/serverlessworkflow/specification/blob/main/specification.md#Workflow-Expressions) by referencing them via the $SECRETS variable. Runtimes must make $SECRETS available to expressions as a predefined variab

[2022-09-07 12:09] cdavernas commented on #668
@fjtirado Yes, like I said I think you are right, we should indicate that runtime expressions should be supported for auth properties, too ;)

[2022-09-07 16:40] fjtirado commented on #668
Opened PR on spec to allow this
https://github.com/serverlessworkflow/specification/pull/669

[2022-09-07 17:26] fjtirado commented on #668
@cdavernas you cannot use runtime expressions for auth if auth is used for downloading an uri inside an operation. Problem here is the change we did to state that auth definition might be used both for downloading the spec and for invoking the spec funciton. This should have been two separacte structures. The one for downloading might not contain expression (just hardcoded and $SECRET) and the one

[2022-09-09 12:41] cdavernas opened #671 "Enforce naming conventions"
**What would you like to be added**:

Enforce naming conventions of most (if not all) components.

I propose that we enforce using snake and/or kebab cased names.

**Why is this needed**:

In the case of `functionDefs` of type `expression`, for example, not enforcing a naming convention makes expression parsing a huge mess.

Consider the following example:

[code]

Now to call the function in an e

[2022-09-09 13:37] cdavernas opened #672 "Rename data filter properties"
**What would you like to be added**:

To rename data filter properties

**Why is this needed**:

Having properties such as `stateDataFilter` when defining a state, or `actionDataFilter` when defining an action is redudant and tedious to write. So, instead of:

[code]

... I propose we use:

[code]

IMHO it's less confusing, shorter and cleaner.

[2022-09-09 14:57] tsurdilo commented on #672
agree but much harder to define cleanly in jaon schema :) looking into it to see if there is nice way

[2022-09-12 04:29] tsurdilo commented on #671
Agree, will do pr for it

[2022-09-12 13:52] fjtirado opened #676 "Function definition namespaces (Importing several function definition files)"
As per spec "_The functions property can be either an in-line [function](https://github.com/serverlessworkflow/specification/blob/main/specification.md#Function-Definition) definition array, or an URI reference to a resource containing an array of [functions](https://github.com/serverlessworkflow/specification/blob/main/specification.md#Function-Definition) definition. Referenced resource can be u

[2022-09-12 14:08] ricardozanini commented on #676
I liked the idea as well, and I agree that  `namespaces` sounds too generic. Not sure even about `functionNamespaces`, but it seems better.

I'd rather use `import` somehow since the `<namespace>:` implies that is a namespace already.

Maybe `functionImports`?

[2022-09-12 14:09] fjtirado commented on #676
yes, I think functionImports is fine, I just mention namespace becuase of my c++ heritage ;)

[2022-09-12 14:13] ricardozanini commented on #676
Then:

[code]

The format is  `"namespace": "reference"`.

Then in the states we refer by `sharedApi:publicFunction1`.

[2022-09-12 14:34] fjtirado commented on #676
@ricardozanini functionImports should be an object (it is a dictionary) not an array.

[2022-09-12 14:49] tsurdilo commented on #676
imo the aggregation should happen on runtime side. having an uri is enough for me. i rather not add this is possible, so sorry

[2022-09-12 14:49] fjtirado commented on #676
@tsurdilo how do we agregate on runtime? can you  give an example?

[2022-09-12 14:52] tsurdilo commented on #676
"functions": "htttp/mycomp.org/my/prod/function/definitions/"

this uri endpoint can aggregate all your function defs and stick in the functions array which then is also validatable against our single functions schema

[2022-09-12 14:54] cdavernas commented on #676
IMHO, your suggestion is impossible to define and/or implement. How can you, as a runtime, determine the format of the data returned by a random url? Sometimes it might just be a JSON of a functionDef collection, sometimes a collection of collections, etc.

[2022-09-12 14:55] tsurdilo commented on #676
this is a compile time resolve so yes you can validate its response json

[2022-09-12 14:56] fjtirado commented on #676
how does that URI endpoint knows what needs to be aggregated?
Remember, the use case is, the writer of the flow has already written a function definition (lets call it file 1) for API 1 and another function definition array (lets call it file 1) for API 2, and it is already using file 1  for flows that interacts just with api 1 and file 2 for flows that interacts with api 2
now he wants to write a

[2022-09-12 14:57] tsurdilo commented on #676
what we did this for (ability to use uri)  is for **runtimes** to be able to provide function definitions out of the box to users.
in case where your users define these function defs they should figure that out on their own

[2022-09-12 14:58] tsurdilo commented on #676
these types of requests where its more about runtime user support and not the spec itself are things that all i can say is "deal with it", again sry.

[2022-09-12 14:59] cdavernas commented on #676
No, you can't. First of all, there is no such thing as compile time. Second, you don't know what a endpoint you have no control on as implementer will return. As I said, it could be a single collection, a collection of collections, a file containing references to other files, etc. What you suggest will result in implementation mess and zero portability of SW between runtimes, even though that is t

[2022-09-12 15:00] fjtirado commented on #676
ok, scenario two, I have a external function defintion magic array provider (if I understood correctly) and now I want to define my own private array of function for that specific file, how do I do it if I have if functions either points to the the URI or to  the array of function definitions?

[2022-09-12 15:01] tsurdilo commented on #676
put it inline in the definition then. i honestly dont see anything that we can do except add some "improvements" that again wont work for everyone. so uri is uri..and again "deal with it" :)

[2022-09-12 15:02] fjtirado commented on #676
ok, so you are basically proposing to copy past the content of the function arrays file and add the private function there, do you?

[2022-09-12 15:02] tsurdilo commented on #676
use expression if you want as the string and have runtime eval it if that makes it easier, idk. but we are starting to look like google cloud workflow here..and i dont like it

[2022-09-12 15:05] fjtirado commented on #676
@tsurdilo uri is uri, but it can be uris, I honestly do not see the rationale agains that, I think you need to elaborate a bit more.

[2022-09-12 15:06] cdavernas commented on #676
On that specific subject, that's not necessarily a bad thing! Even though I'm sure we can perfectly work without that "feature", I'm convinced it's a good, quality of life one. Like the bookmarking we spoke about.

I believe the main problem here is: how to reference multiple (possibly namespaced) function (or event or auth, ...) definition collections in a PORTABLE way (meaning works the same acc

[2022-09-12 15:11] tsurdilo commented on #676
ok well if you guys feel this is helpful then go for it 👍

[2022-09-12 16:02] fjtirado commented on #676
ok, should we move with a PR then?

[2022-09-13 19:52] cdavernas opened #677 "Atomic produce and consume actions"
**What would you like to be added**:
Atomic produce and consume actions, meaning splitting the actual event action into two new actions: produceEvent and consumeEvent.

**Why is this needed**:
- Allows for consuming without producing
- Allows for producing without consuming
- Easier to understand
- More ubiquitous

[2022-09-14 10:28] qqeasonchen commented on #559
Apache EventMesh has already realized a version: https://github.com/apache/incubator-eventmesh/tree/master/eventmesh-workflow-go

[2022-09-14 13:41] ricardozanini commented on #677
@cdavernas, can you evolve a little bit your description (maybe including an example)? Not sure if I understood. We already have the `produceEventRef` and `consumeEventRef` in the `EventAction`: https://github.com/serverlessworkflow/specification/blob/main/specification.md#EventRef-Definition

[2022-09-14 13:54] cdavernas commented on #677
@ricardozanini We do, but the [produceEventRef](https://github.com/serverlessworkflow/specification/blob/main/specification.md#Event-Definition) property is required.

We could just mark that property as non-required, but then the actual objet gets confusing with different properties that do the same thing: reference an event.

Example of what I'm proposing:

[code]
* Here we could:

a. Determine

[2022-09-14 14:04] cdavernas commented on #677
I would as well propose to remove the non-ubiquitous, obsolete `invoke` property on the eventRef. There is no sync/async paradigm here, it's an abuse of language applied to a non-applicable "async function" concept.

If need be for that concept, you can achieve it yourself by assembling one produce event and one consume event actions.

[2022-09-14 14:08] tsurdilo commented on #677
Think the reason for this is the event definition "source" property. If its consumed event then this has to be set to match the source where to consume from. if it's produced then runtime has to set the source.

so kind is "kinda" hehe, needed imo unless we say its not used when producing this event which is imo worse user experience maybe. i am not sure in how much % of cases you would consume an

[2022-09-14 14:10] cdavernas commented on #677
Well, that was another of my concerns, actually. IMO, source should NOT be required when consuming. You could very well filter by source and/OR type.

[2022-09-14 14:12] tsurdilo commented on #677
source is required attribute by CE https://github.com/cloudevents/spec/blob/main/cloudevents/spec.md#required-attributes

[2022-09-14 14:12] cdavernas commented on #677
Well, it's not a personal use case, just a reasoning, but I guess something like: to consume a "Hello" event from peers, then route it down to another group of peers.

[2022-09-14 14:14] cdavernas commented on #677
Yes, but we are speaking of consuming events: it's not because the spec mandates that CE must have a source that we should force user to filter on it!!! Otherwise, we should also add `specVersion` and `id`.

[2022-09-14 14:16] tsurdilo commented on #677
I think event defs are cheap to define. we could either leave it as is and deal with the duplication thats currently a must, or add on event defs another enum type for kind maybe "dual" or something and then document that in source you would have to set both producers (since CE allows more than one). For this however we would also i guess need some sort of hook for the source produced by the runti

[2022-09-14 14:17] tsurdilo commented on #677
i personally like the eventRef kind lookup from the event def referenced, idk, seems natural to describe imo

[2022-09-14 14:18] cdavernas commented on #677
@tsurdilo yeah, whatever, it's not the point of my feature request anyways. I just think that there is no added value to know that an event is gonna be consumed or produced in other places than in the action, so I think it's an obsolete property. But then again, doesn't really matter either.

[2022-09-14 14:20] tsurdilo commented on #677
ok :) from the eventRef perspective if its more clear to have "produceEventRef" and "consumeEventRef" or similar, yeah thats fine imo.

[2022-09-14 14:30] fjtirado commented on #677
Which is the difference between consumeEventRef and a not starting event state?

[2022-09-14 14:38] JBBianchi commented on #677
I tend to agree, `EventRef ` and `Event` definitions should be refactored.

There might be a "trap" there: even if in the case of `produce` and `consume`, we are talking about Cloud Events, the purpose of each "action" is not exactly the same.

In the case of `produce`, we want two things: 1. describe the type of event that will be produced (aka the JSON Schema of the said event at best, or at lea

[2022-09-14 14:40] cdavernas commented on #677
One is an action, which is chainable, the other is a whole state.
I remember that @tsurdilo mentioned, when we had this discussion months ago, that doing what I propose would make the event state obsolete, but would require updating the `start` by configuring events there.

[2022-09-14 14:41] ricardozanini commented on #677
@tsurdilo I think we can drop the `source` required attribute even in consume because this attribute can be dynamic. For instance, GitHub API can produce an event like this:

[code]

In this situation, a workflow author would just add a dummy value that won't mean anything, and the instance would filter it either by regexp in the source or type.

I'll read the whole thread later. This source-requi

[2022-09-14 14:43] ricardozanini commented on #677
And being a required attribute in the CE spec doesn't matter to us in the workflow definition. We can add a remark in the spec warning users that it's a required attribute. But needless to say, the CE SDKs will do their job and fail while parsing. Or any other implementations of the CE spec would do.

[2022-09-14 14:44] tsurdilo commented on #677
another thing we could do is change the event def "source" to "consumedSource" or something and then say that if the event is produced the runtime would set it..thats fair too imo

[2022-09-14 15:06] cdavernas commented on #677
@fjtirado Actually, the difference resides in the fact that the `eventState` can handle multiple events at once, whereas you would have to go through a `parallel` action sequence with multiple eventRefs to achieve the same. So for multiple events consumed in parallel, I'd go for the eventState, otherwise I'd go for an atomic eventRef of type `produce`

[2022-09-14 15:09] fjtirado commented on #677
Yes, but you can also use an eventState to consume just one event type. I think we should avoid two ways of doing the same thing.

[2022-09-14 15:10] cdavernas commented on #677
I would not do that: it will complicate things and will need another property if you want to filter a consumed event by source, which you should definitly be able to do (but should not be forced to).

What I'm proposing regard that specific point is to make the `source` property entirely optional, like @ricardozanini suggested, and it's up to the runtime to deal with eventual requirements at that

[2022-09-14 15:13] tsurdilo commented on #677
got it. ok thanks for explaining, ok so you want to offload the source to runtime if its not set? go for it

[2022-09-14 15:17] cdavernas commented on #677
Yes, maybe. But I feel this is a side effect of proposed feature, that should be addressed only if and when this feature is addressed.

To summarize:

We have a construct that is an opiniated aggregate of a produce and a consume event actions. Opiniated as well is the order in which actions can be performed: produce then (possibly not) consume.

At the moment we only support:

- Produce only
- Pro

[2022-09-14 15:40] cdavernas opened #679 "Rename eventDef correlation properties"
**What would you like to be added**:

Rename the `eventDef`'s `correlation` object properties to have something shorter, as explicit, and cleaner IMHO.

Currently, we have:

[code]

What I propose is to have:

[code]

**Why is this needed**:

Shorter, cleaner, easier to write without typo/casing mistake, self-explainatory

[2022-09-14 16:00] cdavernas opened #680 "Find a way to name processed correlation keys"
**What would you like to be added**:

To allow for a way to name processed correlation keys.

What I propose is to add a new `key` or `keyName` or whatever property to the `correlationDef` object, so that multiple events can address different correlation keys:

[code]

**Why is this needed**:

Consider the following definition:

[code]

Image we have a sequential flow such as the following:

- Con

[2022-09-14 16:52] cdavernas commented on #677
@tsurdilo @ricardozanini @fjtirado @JBBianchi What do you guys think? Can I open a PR?

[2022-09-14 17:59] ricardozanini commented on #677
I think the proposal we had a while ago to refactor the `onEvents` would also tackle this change, IIRC.

I'd go for it but try to avoid doing the same thing twice like @fjtirado pointed out to avoid jeopardizing people's understanding.

[2022-09-14 18:49] cdavernas commented on #680
We could also possibly introduce a new `$CORRELATION` jq named parameter, which would allow workflows to retrieve and play with those keys.

[2022-09-15 08:58] fjtirado commented on #677
I think we can discuss the details on the PR, yes. But I would like to insist in the current duplicity between consumeEventRef and Event state. you can perfectly acompplish consumeEventRef functionality with an Event state with just one onEvent, while the only way to publish an event is through produceEventRef. We need to addess that, in my opinion we eiter remove consumeEventRef or we remove Even

[2022-09-15 09:26] lsytj0413 opened #681 "Add multi retryRef to action"
**What would you like to be added**:

In current version, there is only one retry strategy can be assign to action:
[code]

If a action can reference multi retry strategy it will be useful.

**Why is this needed**:

+ amazon states language support multi retry strategy https://states-language.net/spec.html#errors
+ If the action failed, user may want use different retry strategy, for example:
  +

[2022-09-15 15:00] JBBianchi commented on #677
@fjtirado I agree on the duplicity between Event state and consumeEventRef  action, it's confusing. I feel like actions should be "active" (like produce event) and not '"passive" (like consume event) that probably fits better under the Event state.

[2022-09-15 15:07] fjtirado commented on #677
@JBBianchi  I agree that why I was proposing to remove consumeEventRef.
Doing that, @cdavernas goal will be fulfilled.
Then we wil have:
- produceEventREf to trigger events from actions.
- the calback state to call an external service (using procudeEventRef or a different mechanism) and wait (fire & wait)
- the event state to stop the flow till an event(s) arrive (and trigger some actions dependin

[2022-09-15 18:14] ricardozanini commented on #677
So we can have a PR that tackle these 3 points, and then work on a second one to review the start state. @cdavernas wdyt?

[2022-09-15 18:29] ricardozanini commented on #681
This is interesting. I think it can be useful to add the retriable error in the retry definition as Amazon States Language does, or it will be difficult to understand the mapping of two arrays. Technically, it will be the same, but it will improve understanding.

Can be something like this:

[code]

[2022-09-16 02:10] lsytj0413 commented on #681
Currently，the `retryableErrors` is in Action's definition.

[2022-09-16 02:39] tsurdilo commented on #681
I think this would be nice feature to add (even tho possibly very hard to implement). Also I think would not be very useful for idempotent actions.

Looking at the mentioned AWS samples:

[code]

I think this can be implemented already by setting States.Timeout as a non-retryable error.

[code]

This is what we are talking about I think. I'd like to know more on how they are handling this when dif

[2022-09-16 02:51] lsytj0413 commented on #681
Can you give more example on `not useful for idempotent actions`?

imo the specification should define how to handing maxAttempt when different errors, like use the value based on error. For example:

1. we have an action named `CreateDisk`, and the action maybe failed with `FlowLimit`，`InsufficientResource`
2. When error is `InsufficientResource`, we only retry for 3 times
3. When error is `FlowL

[2022-09-16 02:55] tsurdilo commented on #681
Yes I updated some text in my answer above (please look again).

The retry with this is tied to an error type. In this case we can either assume that if the first invocation raises FlowLimit its retried up to 30 times regardless of errors raised by consequent retries.
Or you would re-calculate the retry policy if the second retry throws InsufficientResource.

I think this is doable iff we go with

[2022-09-16 03:01] lsytj0413 commented on #681
I don't known how AWS does it, but in my company's workflow engine（base on ASL），it will use the value based on error and record the retry history. For example: the CreateDisk may retry upon 30 times when error is mixed with FlowLimit & InsufficientResource.

[2022-09-16 03:01] tsurdilo commented on #681
Just to add as a general info thing, imo it is an anti-pattern to limit retries via MaxAttempts.
For most use cases you should limit your overall action retries using state timeout (thats what its designed for at least imo :) )

[2022-09-16 03:07] tsurdilo commented on #681
I think this really depends on the action timeout (single action execution limit). If you set the action timeout to a large value, and your action is "stuck" for minutes or hours you cannot fail fast even with just 2 retries.

The best way to deal with your use cases is to have your actions "heartbeat" meaning report progress and have a heartbeat timeout set to a very small value within which the

[2022-09-16 03:13] tsurdilo commented on #681
Overall +1 on adding this, just would like to maybe get one or two examples on how this would look like if its done via the mentioned dynamic retry policy calculations on each retry. Thanks!

[2022-09-16 03:16] lsytj0413 commented on #681
Base on the exmaple, we want 3 MaxAttempts and Interval 5s when `InsufficientResource`，30 MaxAttempts and Interval 1s when `FlowLimit`，we can only set the ActionTimeout to 30s=max(15s, 30s)，but if the only error is `InsufficientResource` we can stuck only 15s（less than 30s）.

[2022-09-16 10:22] fjtirado opened #682 "ForEach item loop variable usage in expression"
**What seems off**:

ForEach state defines an iterationParam
_"The iterationParam property defines the name of the iteration parameter passed to each iteration of the ForEach state. It should contain the unique element of the inputCollection array and made available to actions of the ForEach state."_

This parameter can be used in expressions. as illustrated in the spec example

[code]
We can see

[2022-09-16 10:41] cdavernas commented on #682
+1000 Very good point! To work around that, in Synapse I had to inject the iteration param into the state data, then invoke the action pipeline, then prune it out. What you are proposing is IMO an elegant solution to avoid mixups.

[2022-09-16 10:56] fjtirado commented on #682
@cdavernas yes, I have to do the same ;). and this was really hacking (and have other implementation consequence, as not able to perform evaluation in multiple threads)

[2022-09-16 11:51] ricardozanini commented on #682
Very good point indeed. Go ahead and open a PR. I think we have a strong argument based on JQ spec.

The only caveat is for other languages, like jsonpath. We should add a note there that for `jq`, we access it using `$`.

[2022-09-16 11:54] fjtirado commented on #682
In JsonPath the equivalent for JQ $ I believe is @

[2022-09-16 13:11] cdavernas opened #684 "Group `End` and `Transition` properties"
**What would you like to be added**:
Group `End` and `Transition` properties, in such way that we can address it as an (activity | state | workflow) outcome.

In other words, what I'd like to achieve is:

[code]

**Why is this needed**:

Because `End` and `Transition` properties are mutually exclusive, and implicitly defines the outcome of an (activity | state | workflow), it makes sense to call i

[2022-09-16 16:59] tsurdilo commented on #684
Yes, i wish we did this to begin with. Will update

[2022-09-19 08:08] JBBianchi opened #685 "Enforce action name"
**What would you like to be added**:
The name of actions to be `required`.

**Why is this needed**:
The name is a human, comprehensible way of working. When reviewing the activities of a workflow, knowing that "Action[2]" was a success doesn't really speak to the user. It requires to have the definition under the eyes, count the actions to find the one we are speaking about. Having it named will i

[2022-09-19 12:53] ricardozanini commented on #685
+1

[2022-09-19 14:11] tsurdilo commented on #685
This is done i believe as part of the error handling updates pr.

[2022-09-19 15:18] JBBianchi commented on #685
This also applies to other item types like `branch`.

A name should be unique within the scope of its parent but not the whole workflow.

[2022-09-19 15:18] ricardozanini commented on #685
As agreed in the meeting call, within the same state, we should guarantee action uniqueness

[2022-09-21 08:02] cdavernas opened #686 "Get rid of obsolete Sleep state and replace it with an action"
**What would you like to be added**:

Get rid of obsolete Sleep state and replace it with an action. The state has little to no use IMO, especially since the addition of the sleepBefore/sleepAfter properties to the actionDef.

What I propose is to remove the sleepBefore/after properties and the sleep state, and replace them with an action of type sleep or delay.

[code]

**Why is this needed**:

W

[2022-09-21 08:10] cdavernas opened #687 "Use more ubiquitous duration expressions"
**What would you like to be added**:

Use more ubiquitous duration expressions, such as `00:05:00` instead of `PT5M`.

I know that the suggested format does not support concepts such as days, weeks, months, etc., but in most case it won't come of use and damage the readability of a flow.

In order to keep features in place, and still allow for greater readability, I woul suggest defining a top-lev

[2022-09-21 11:51] JBBianchi opened #688 "Enforce semver format for `version`"
**What would you like to be added**:
The `version` of a [workflow definition](https://github.com/serverlessworkflow/specification/blob/main/specification.md#workflow-definition-structure) can be any string. Enforcing [semver](https://semver.org/) should be considerated.

**Why is this needed**:
In my understanding, the `version` is used to distinguish different iterations of a said workflow. For i

[2022-09-21 12:25] tsurdilo commented on #688
Hey, remember we had these discussions before and ended up with not enforcing a particular versioning style.
Worth discussing again so lets get everyones opinions here.

[2022-09-21 12:32] tsurdilo commented on #687
Do we want to define our own time and duration format?
ISO 8601 makes sense and we use it all over the place and it has existing libs that use it.
I think for a runtime it's perfectly ok to support whatever format they want and then translate it to ISO 8601 or whatever they use, think thats totally fair.

[2022-09-21 12:34] JBBianchi commented on #688
Sorry if I'm bringing back a dead thread, feel free to close the issue. Your take on it @tsurdilo is to have "free" version?

[2022-09-21 12:37] cdavernas commented on #687
@tsurdilo No, we do not want to use our own format. I don't recall the ISO, but `{HH}:{MM}:{SS}` is perfectly standard.

It's not a runtime issue, as the duration must be parsed either case. IMO, it's a spec ubiquitousness issue.

[2022-09-21 12:37] tsurdilo commented on #686
Currently actions require one of the "refs" to point to a function definition: https://github.com/serverlessworkflow/specification/blob/main/schema/workflow.json#L486
How would you suggest this for sleep, to have a "sleep" function type maybe but that seems kinda not natural. Let me know please.

[2022-09-21 12:38] tsurdilo commented on #685
Yes branch names are also going to be enforced as part of error handling updates.

[2022-09-21 12:40] cdavernas commented on #686
@tsurdilo I'm nowhere recommending putting that as a new function type. I'm recommending putting it as an action type.

So far, we implicitly have 3 action types:

- Subflow
- Function
- Event

I'm recommending adding:

- Sleep/Delay

[2022-09-21 12:42] tsurdilo commented on #688
Let's keep it open to gather peoples opinions as it might be relevant.
At the time we discussed it some users mentioned they have very customized versioning needs and said enforcing would not fit their use case, thats why I remember we did not enforce (I was fan of semver too by the way :) )

[2022-09-21 12:44] tsurdilo commented on #688
Here is a comment I made on an old issue from last year:

"The idea in the text is that if you use a standard such as SemVer rather than some custom versioning scheme, there is a higher probability chance it will be supported by more runtimes"

[2022-09-21 12:45] tsurdilo commented on #688
It's also mentioned in spec documentation in this section: https://github.com/serverlessworkflow/specification/blob/main/specification.md#workflow-versioning

[2022-09-21 12:45] JBBianchi commented on #687
`{HH}:{MM}:{SS}` doesn't work for everything though. Let's say you want a duration of 1 month, the said duration in hours varies from a month to another.

[2022-09-21 12:53] cdavernas commented on #687
@JBBianchi  As said ;)

[2022-09-22 19:42] ricardozanini commented on #688
Agreed to keep an open string. IMHO, there's no strong reason for the spec to enforce such a pattern.

[2022-09-23 02:51] lsytj0413 commented on #681
@tsurdilo  What's the next step should i do for this？is an PR ok？

[2022-09-23 18:07] ricardozanini commented on #688
Not sure. On Kubernetes, for instance, they use `v1`, `v1alpha1`, and so on. Each user might have a way of setting up versions. I've seen things like `20220922` or even branch naming. I'd let the conventions be for users.

[2022-09-23 18:10] cdavernas commented on #688
Bad example: K8s uses semver ;) (like github, gitlab, knative, argo, etc.)And versions you supplied are valid semver suffixes.

[2022-09-23 18:33] ricardozanini commented on #688
Bah, so bite me. :D

I never used these versions and have always relied on `v.1.2.3` my whole life (IIRC semver recommend this approach). If semver is that permissive, I don't see why not.

[2022-09-23 18:36] ricardozanini commented on #688
@cdavernas not sure if they are compatible, at least from the regexp pov: https://regex101.com/r/vkijKf/1/

Test the examples I had. From a SDK perspective, I would apply this regexp, which will fail if someone out there decide to use one of them.

[2022-09-23 19:51] cdavernas commented on #688
@ricardozanini yeah, `alpha` alone is indeed invalid, but it's a valid suffix: `1.0.0-alpha` for example.

And yeah, I feel you man, I likewise used single then four digits versions a lot until I ran into semver.

[2022-09-26 15:58] ricardozanini commented on #688
As discussed in today's meeting, +1 from my side will potentially include this in the next release. It will not only help implementations to have a straightforward way to control the workflow instances version as business to follow a clear standard when defining their workflows.

@tsurdilo do you mind sharing your thoughts?

[2022-09-26 22:44] tsurdilo commented on #688
I'm all for it. small change and would bring imo good value for portability

[2022-09-27 11:27] ricardozanini commented on #688
@JBBianchi, are you opening a PR?

[2022-09-27 12:14] JBBianchi commented on #688
@ricardozanini sure, I'll try to open a draft asap.

[2022-09-27 12:28] ricardozanini commented on #687
We can still support ISO 8601 and have an attribute indicating if the definition is `duration` or `time`. We keep it as it is for `duration` (the default).

For `time`, we then use again ISO 8601 form: `Thh:mm:ss.sss`, so `T00:10:00.000` for ten minutes.

@cdavernas wdyt?

[2022-09-27 12:34] fjtirado commented on #686
Do we have a use case for sleep? Im asking because Ill remove sleeps altogether. We should wait for something, not a random amount of time.

[2022-09-27 13:13] tsurdilo commented on #686
sleep in actions are important for testing . in a test you could have a fake action that just returns and use sleep to simulate diff exec times and test timeouts .

[2022-09-27 13:15] tsurdilo commented on #686
no, the before after can be used to simulate action exec time and action timeouts. the sleep state is useful yea to test wf exec timeout and state timeout but also has valid business logic use cases

[2022-09-27 13:18] cdavernas commented on #686
@fjtirado IMO, sleep can be usefull, but they should be an action, not an action prop.

Imagine a more real-life scenario than just "emulating" delay, as explained by @tsurdilo: Long polling on a remote API. You would loop while a condition is true and make sure to wait an explicit amount of time before and/or after the execution of the polling request.

[2022-09-27 13:31] fjtirado commented on #686
@cdavernas The way I envision that scenario is that the action you use to perform to the polling has the property to wait after it is executed (rather than adding a "fake" action there to wait)

[2022-09-27 13:38] tsurdilo commented on #686
for polling there are couple ways, one is using sleep as described, another is polling via retries and backoff coefficient third is polling inside the action function itself

[2022-09-27 13:42] tsurdilo commented on #686
i think sleep state feels more naturan in some cases than sleep action which ppl associate with actual invocation of things..but can be argued as its preference. only problem is timeouts as for sleep action its bound by action timeout butnwho knows thats fine

[2022-09-27 17:35] ricardozanini commented on #686
Okay, I can see us cases for testing, but not for pooling. If you guys wanna go ahead with this, I think an action like what Charles was proposing might have more sense. If I see a workflow definition with sleep without a testing context, I'd assume that's a workaround.

[2022-09-27 17:40] tsurdilo commented on #686
for polling think of simple operationState(perform action)->switchState(check result)->sleepState(sleep for x time)->loop back to operationState
thats how i think you would do it in bpmn too

[2022-09-27 17:42] ricardozanini commented on #686
That makes sense, but I would implement it differently unless I'd need to directly express the sleep stage in the definition.

Yeah, it makes it a valid use case.

[2022-09-27 21:51] cdavernas commented on #687
@ricardozanini sounds good to me!

[2022-09-28 00:27] #604 closed

[2022-09-28 12:46] ricardozanini commented on #687
I'd stay away from "proprietary formats" to avoid lock in.

[2022-09-28 12:51] fjtirado commented on #687
@ricardozanini
 we should not use time for duration either. I understand the need for compromise solutions sometimes, but what Charles is requesting here is to be able to use something different than the standard because he does not like it (a valid point, there are definitely users that do not like it)
I agree with @tsurdilo, we should not define a new standard and I agree with you, we should not

[2022-09-28 13:34] brlala commented on #666
bump, will need help on this, trying to achieve `deleting state` with serverless workflow

[2022-09-30 14:45] cdavernas opened #691 "Refactor external references"
**What would you like to be added**:

Refactor external references.

What I propose is:

1. To define a `resource` object, such as the following, used to encapsulate external definitions:

[code]

In other words, an external function definition file would not contain an array of function definitions, but an object such as the above.

In addition, that would allow serverless-workflow compatible app

[2022-09-30 15:07] tsurdilo commented on #691
In your example where is the refName: foo.greet function definition? is the function def named "greet" and you append the namespace to it?

[2022-09-30 15:13] tsurdilo commented on #676
ok i think i understand this better now,
I do like the namespace use but imo its a concept that if we add is something that could be applied to more than just function definitions.

imo this concept is great but would require some thinking how it would fit overall to the concept of all our dsl not just particular piece of function defs

imo right now this is already possible via metadata so lets t

[2022-09-30 15:13] cdavernas commented on #691
@tsurdilo yes, exactly: `{namespace}.{functionName}`

[2022-09-30 15:16] tsurdilo commented on #691
Thanks, yeah i put a comment on that associated issue..do really like it but then why not

     {namespace}.{stateName}
     {namespace}.{actionName}
     {namespace}.{eventDefName}
     ...

I think these type of changes are awesome but in the grand schema of things if added should be thought to be added to entire spec not just one piece at a time imo

[2022-09-30 15:22] tsurdilo commented on #691
Yeah I understand, i think with this also comes a lot of possible issues on user level (possible typos since you have to define a namespace in each action, maybe a better approach would be to have a top-level namespace property instead and if user does not set it would default to "default" which is the base resource def name.

[2022-09-30 15:23] tsurdilo commented on #691
One more question, does this apply only for "rest" action type?
For everything else the resource / uri would be defined inside the offloaded json/yaml (openapi/asyncapi/grpc, etc)

[2022-09-30 15:24] tsurdilo commented on #691
If so I am very much not "game" with adding all this just for rest type as we as spec do prefer users to use the standards and not "rest"..I thought we adding rest only for small scale scenarios and tests for most part.